<%= form_for @goal_donation, :url => '/goal_donations/create/'+@goal_id.to_s, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @goal_donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal_donation.errors.count, "error") %> prohibited this goal_donation from being saved:</h2>

      <ul>
      <% @goal_donation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_field :message %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
