<%= form_for @goal_donation, :url => '/goal_donations/create/'+@goal_id.to_s, :html => { :class => 'form-horizontal' } do |f| %>
  	<%= render 'layouts/model_error_messages', :target => @goal_donation %>

  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_field :message %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>

<div class="form-actions">
    <%= f.submit 'Donate', :class => 'btn btn-primary' %>
	<%= link_to 'Back', :back, :class => 'btn' %>
  </div>
</div>
<% end %>
