
<%= render 'goal_donations/goal_donation_summary', :goal => @goal %>

<div class="coluna2">
	<article class="box-grande">
		
<%= form_for @goal_donation, :url => goal_donations_create_url do |f| %>
  	<%= render 'layouts/model_error_messages', :target => @goal_donation %>

<% unless user_signed_in? %>
  <h3>
  <%= t "donation.anonymous_login_message" %>
  <%= link_to('Login', sign_in_and_redirect_to_current)  %> 
  </h3>
<% end %>
                    
<div id="donation-step-img">              
	<%= image_tag("goal-donation-step-1-#{I18n.locale}.png") %>
</div>                                        
<%= f.hidden_field :goal_id%>

  <div class="field">
    <%= f.label :amount %>
	<div class="btn-group" data-toggle="buttons-radio">
	  <% [5, 10, 20, 50, 100].each do |amount| %>
	    <button type="button" class="goal_donation_select_amount btn btn-primary" 
	            data-amount="<%= amount %>">
	           <%= t "currency" %> <%= amount %>
	    </button>
      <% end %>
	</div>
	<%= t "currency" %>
    <%= f.text_field :amount , :size => "8" %>
  </div>

	<div class="field">
	<% if user_signed_in? %>
	  <p><%= t "activerecord.attributes.goal_donation.donor_name" %>: <b><%= current_user.screen_name %><b></p>
	<% else %>
	  <p><%= f.label :donor_name %>:</p>
	  <%= f.text_field :donor_name %>
	<% end %>
	</div>       
	
	<div class="field">  
	  <p><%= f.label :message %>:   </p>
      <%= f.text_area :message, :rows => 3, :placeholder => t("placeholder.goal_donation.description", :achiever_name => @goal.achiever.screen_name) %>
  	</div>



<div class="form-actions">
    <%= f.submit t("donation.donate"),  :class => 'btn btn-success', :id => 'donate_button' %>
	<%= link_to t('back'), :back, :class => 'btn' %>
</div>

</div>
</article>


<% end %>     
</div>
<section id="bottom-section" clear="" >
	<div id="goal_donations" class="centraliza clearfix">     
	 	<div class="coluna1">
		</div><!-- /coluna1 //-->

		<div class="coluna2">   
		  <h2><%= t('donations')%></h2>        
		  <hr/>
		  <% goal_donations = @goal.goal_donations_to_display%>
		  <% if goal_donations.empty? %>
				<%= t ('there_are_no_donations')%>
		  <% else %>
			<% goal_donations.each do |goal_donation| %>
			<article class="donation clearfix">
				<figure class="donation_donor">
					<div class="img_user_thumbmini_div">
					<%= user_image goal_donation.user, :thumbmini%>
					</div>
				</figure>
				<div class="donation_desc">
					<p><%=raw_scape_xss t('donated', :name => goal_donation.donor_name, :amount => goal_donation.amount)%>
					<p><%= goal_donation.message %></p>
					<p class="small-font"><%= l goal_donation.created_at, :format => :short %></p>
				</div><!-- /journey_desc //-->
			</article><!-- /journey //-->
			<% end %>
		  <% end %>   
		</div>
	</div>
</section>
              
</div>

