<div class="coluna1">
	<article class="box-pequeno">

<p>
<%=raw_scape_xss t("donation.you_are_donating_to") %>:
</p>
<h3><%= goal.charity.charity_name %></h3>

<figure>
        <%= img_tag goal.charity, :thumb %>
</figure>

</p> 

<hr/>
<p>
	<small><%= t("donation.supporting") %> <%= goal.achiever.screen_name %>:</small>
</p>     
<div id="user_goal_img_donation_summary">
<%= user_image goal.achiever, :thumbmini %>
<%= img_tag_null_safe 'GoalTemplate', goal.goal_template, :thumbmini %>
</div>
<h5><%= goal.title %></h5> 


</article>
</div>