<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @goal_donation.message %>
</p>

<p>
  <b>Goal:</b>
  <%= @goal_donation.goal_id %>
</p>

<p>
  <b>User:</b>
  <%= @goal_donation.user_id %>
</p>

<p>
  <b>Amount:</b>
  <%= @goal_donation.amount %>
</p>

<%= pagseguro_form @order, :submit => "Efetuar pagamento!" %>
