<h1><%= t "points" %></h1>

<div>
	<% if current_user.points_summary.available_points > 0 %>
	  <a id="redeem_action" href="<%=new_redemption_point_transaction_path%>" class="button button-g" title="<%= t('label.redeem', :points => current_user.points_summary.available_points) %>"><span class="icon icon41"></span>&nbsp;&nbsp;&nbsp;<%= t('label.redeem', :points => current_user.points_summary.available_points)%></a>
	<% else %>
	  <%= t "redemption.no_points_to_redeem" %>
	<% end %>
</div>

<%= render "points/goal_donation_point_transaction_table", :transactions => @point_transactions %>


<h1>Resgates</h1>
<table class="table table-striped table-condensed">
  <thead>
  <tr>
    <th><%= t 'redemption_point_transaction.id' %></th>
    <th><%= t 'when' %></th>
    <th><%= t 'points' %></th>
    <th><%= t 'activerecord.attributes.redemption_point_transaction.cpf' %></th>
  </tr>
  </thead>
  <tbody>
<% @redemption_transactions.each do |redemption_transaction| %>
  <tr>
    <td><%= redemption_transaction.id %></td>
    <td><%= l redemption_transaction.created_at %></td>
    <td><%= redemption_transaction.point_amount %></td>
    <td><%= redemption_transaction.cpf %></td>
  </tr>
<% end %>
</tbody>
</table>

