
<p>Olá <%= @goal_donation.goal.achiever.screen_name %>,</p>

<p><%= @goal_donation.donor_name %> doou <b>R$ <%= @goal_donation.amount %></b> para <b><%= @goal_donation.goal.charity.charity_name %></b> pelo seu goal <b><%= @goal_donation.goal.title %></b></p>

<p>Continue arrecadando, ajudando muitos que precisam!</p>

<p>Goalnect agradece!</p>