<h3><%= t 'search.result_title' %></h3>
<div>
	<%= render 'search/search_form' %>
</div>

<div>
<h3><%= t 'search.goals_achievers_title' %></h3>
<% @achievers.each do |achiever| %>
<div id="search-result">
	<%= render 'achiever/box', :achiever => achiever %>
</div>
<% end %>
</div>


<div>
<h3><%= t 'activerecord.models.charity' %></h3>
<% @charities.each do |charity| %>
<div id="search-result">
	<a href="<%= charity_show_path(charity.id) %>">
	  <div>
		<%= charity_image charity, :thumb %>
	  </div>
	  <div>
	    <span><%= charity.charity_name %> <br/>(<%= charity.nickname %>)</span>
	  </div>
	</a>
</div>
<% end %>
</div>
