<h1><%= t 'photo_change.header' %></h1>
<div class="coluna1">
<article class="box-pequeno">
	<h2>Upload</h2>
	<%= form_for model, :url => url, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>    
		
		<%= render 'layouts/model_error_messages', :target => model %>

		<p><%= t 'photo_change.upload_header' %></p>
		<div>
			<%= image_tag model.image_url(:thumb) if model.image? %><br/>
		</div>

	   <div class="control-group">
		<div class="controls">
			<div id="file_upload">
				<input type="button" value='<%=t("choose_file")%>' id="fake_file_btn" class="btn">
		 		<%= f.file_field :image, :width => '100px', :id=>"real_file_btn" %>
			</div>
	    </div>
	  </div>

      <hr/>	
	
	  <div class="form-actions">
	    <%= f.submit t('photo_change.upload_action'), :class => 'btn btn-primary' %>
	  </div>
	
	<% end %>
</article>
</div>

<div class="coluna2">
<% if model.image? && model.display_crop_image_view %>                                               
<article class="box-grande" id="cropping-image">
	<h2><%= t 'photo_change.crop_header' %></h2>
	<%= form_for model, :url => crop_url, :html => { :class => 'form-horizontal'} do |f| %>    
	
	<p><%= t 'photo_change.crop_explain' %></p>
	<%= image_tag model.image_url, id: "cropbox" %>
	
   	  <% %w[x y w h].each do |attribute| %>
	    <%= f.hidden_field "crop_#{attribute}", :class => "crop_#{attribute}" %>
	  <% end %>
 
      <hr/>	
	  <div class="form-actions">
	    <%= f.submit t("photo_change.crop_action"), :class => 'btn btn-primary' %>
		<%= link_to t('cancel'), back_url, :class => 'btn' %>
	  </div>
	
	<% end %>
</article>
<% end %>
</div>

