<%= form_for(@goal_comment) do |f| %>

	<%= render 'layouts/model_error_messages', :target => @goal_comment %>

  <div class="field">
    <%= f.label :message %>
    <%= f.text_area :message %>
  </div>
  <div class="field">
    <%= f.label :goal_id %>
    <%= f.number_field :goal_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
