<h1>Listing goal_options</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Is system</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @goal_options.each do |goal_option| %>
  <tr>
    <td><%= goal_option.name %></td>
    <td><%= goal_option.is_system %></td>
    <td><%= link_to 'Show', goal_option %></td>
    <td><%= link_to 'Edit', edit_goal_option_path(goal_option) %></td>
    <td><%= link_to 'Destroy', goal_option, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Goal option', new_goal_option_path %>
