</div><!-- /centraliza //-->
<section id="clouds">
	<div class="centraliza">
		<h1><%=t('what_is_your_goal')%></h1>
	</div><!-- /centraliza //-->
</section><!-- /clouds //-->
<section id="my-goal-is">
	<div class="centraliza">
		<div id="my-goal-is-infos">
			<%= render 'goals/goal_template_form', :achiever_username => "" %>
		</div><!-- /my-goal-is-infos //-->
		<section id="box-login">
			<h2>Login</h2>
			
			<%= form_for("user", :url => user_session_path) do |f| %>
			  <%= f.email_field :email, :placeholder => User.human_attribute_name('email')  %>
			  <%= f.password_field :password, :placeholder => User.human_attribute_name('password') %>
			  <p><%= link_to t('devise.sessions.forgot_your_password'), new_password_path('user'), :class => "login_small_link" %>  |  
			  <%= link_to(t('devise.sessions.sign_up_btn'), new_user_session_path, :class => "login_small_link")  %></p>
			
			  <%= f.submit t("devise.sessions.sign_in_btn"), :class => 'donate', :id => 'sign_in_btn'  %>

			<% end %>

			  <% Togg.le(:feature_authentication) do %>
				<hr/>
				<div class="facebook_login_header">
				  <%= link_to t('facebook.login_title'), '/auth/facebook/', :class => "fb-button" %>
				</div>
			  <% end %>
		</section><!-- /box-login //-->
	</div>
</section><!-- /my-goal-is //-->

<section id="steps">
	<div class="centraliza">
		<h1><%= t('wait_how_it_works')%></h1>
		<ul class="cycle">
			<li><%= image_tag 'iconshowitworksslider/goalnect-how-it-works-slider-1.png' %></li>
			<li><%= image_tag 'iconshowitworksslider/goalnect-how-it-works-slider-2.png' %></li>
			<li><%= image_tag 'iconshowitworksslider/goalnect-how-it-works-slider-3.png' %></li>
			<li><%= image_tag 'iconshowitworksslider/goalnect-how-it-works-slider-4.png' %></li>
			<li><%= image_tag 'iconshowitworksslider/goalnect-how-it-works-slider-5.png' %></li>
		</ul>
		<div id="steps-fb-like">
		<div class="fb-like" data-href="https://www.facebook.com/goalnect" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
		<div>
		<div id="nav-cycle"></div>
	</div><!-- /centraliza //-->
</section><!-- /steps //-->

<section id="video">
	<div class="centraliza">
		<h1><%=t('turn_off_the_lights')%></h1>
		<div class="video-player">
			<img src="http://localhost:3000/assets/video-thumb.png" alt="" />
		</div>
	</div><!-- /centraliza //-->
</section><!-- /video //-->

<section id="bottom-section" clear="" >
	<div class="centraliza clearfix"> 
		<% @goals.each do |goal| %>   
	     	<%= render 'goals/box', :goal => goal %>
    	<% end %>
		<% @goals.each do |goal| %>   
	     	<%= render 'goals/box', :goal => goal, :first_img => :achiever %>
    	<% end %>
	</div>
</section>


<div class="centraliza">