<% title t("seo.home_title") %>
<% meta :description => t("seo.home_description"),
        :keywords => t("seo.home_keywords") %>

</div><!-- /centraliza //-->
<section id="clouds">
	<div class="centraliza">
		<h1><%=t('what_is_your_goal')%></h1>
	</div><!-- /centraliza //-->
</section><!-- /clouds //-->
<section id="my-goal-is">
	<div class="centraliza">
		<div id="my-goal-is-infos">
			<%= render 'goals/goal_template_form', :achiever_username => "" %>
		</div><!-- /my-goal-is-infos //-->
		<%= render 'home/box_login' %>
	</div>
</section><!-- /my-goal-is //-->

<section id="steps">
	<div class="centraliza">
		<h1><%= t('wait_how_it_works')%></h1>
		
		<section class="how-goalnect-works-boxes">
			<div id="how-goalnect-works-box-1"><%= image_tag 'howitworks/how-goalnect-works-box-1.png' %></div>
			<div id="how-goalnect-works-box-2"><%= image_tag 'howitworks/how-goalnect-works-box-2.png' %></div>
			<div id="how-goalnect-works-box-3"><%= image_tag 'howitworks/how-goalnect-works-box-3.png' %></div>
			<div id="how-goalnect-works-box-4"><%= image_tag 'howitworks/how-goalnect-works-box-4.png' %></div>
			<div id="how-goalnect-works-box-5"><%= image_tag 'howitworks/how-goalnect-works-box-5.png' %></div>
		</section>
		<div class="clearfix"></div>
		<div id="steps-fb-like">
		  <div class="fb-like" data-href="https://www.facebook.com/goalnect" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
		</div>
		<div id="why_donate">
		<h2>Por que doar ajudaria meu amigo a atingir o goal dele?<h2>
		<p>Arrecadar doações faz com que o goal seja algo maior, quando seu amigo perceber o quanto já arrecadou fica mais difícil desistir, pois ele sabe que o goal dele agora está ajudando muitos que precisam.<p>
		</div>

		<div id="steps_more" class="centraliza clearfix landing_explore_more"> 
	      <a href="/s/faq"><%= t "more_how_it_works" %> ...</a>
	    </div>
		
		<!-- <ul class="cycle">
			<li><%= image_tag 'iconshowitworksslider/goalnect-how-it-works-slider-1.png' %></li>
			<li><%= image_tag 'iconshowitworksslider/goalnect-how-it-works-slider-2.png' %></li>
			<li><%= image_tag 'iconshowitworksslider/goalnect-how-it-works-slider-3.png' %></li>
			<li><%= image_tag 'iconshowitworksslider/goalnect-how-it-works-slider-4.png' %></li>
			<li><%= image_tag 'iconshowitworksslider/goalnect-how-it-works-slider-5.png' %></li>
		</ul> -->

		<div id="nav-cycle"></div>
	</div><!-- /centraliza //-->
</section><!-- /steps //-->



<section id="video">
	<div class="centraliza">
		<h1><%=t('turn_off_the_lights')%></h1>
		<div class="video-player">
			<iframe src="http://player.vimeo.com/video/54746728?badge=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
		</div>
	</div><!-- /centraliza //-->
</section><!-- /video //-->

<section id="bottom-section" clear="" >
	<div class="centraliza clearfix"> 
		<% @goals.each_with_index do |goal, index| %>  
		 	<% first_img = (index % 2 == 0) ? :achiever : :goal_template %>
			<%= render 'goals/box', :goal => goal, :first_img => first_img %>
    	<% end %>
	</div>
	<div class="centraliza clearfix landing_explore_more"> 
    <a href="/explore/goals"><%= t "explore_goals.explore_more" %> ...</a>
    </div>
	
</section>


<div class="centraliza">