<div class="span12">

<div id="amazingContent" class="span12">
  <a name="amazing"></a>
  
  <div id="preSignUp">
  <%= image_tag("followUs.png") %><br/>
  <center>
  <%= image_tag("comingSoon.png") %>
  <a href="http://www.facebook.com/goalnect" target="blank"><%= image_tag("facebook.png") %></a>
  <a href="http://www.twitter.com/goalnect" target="blank"><%= image_tag("twitter.png") %></a>
  <a href="mailto:team@goalnect.com" target="blank"><%= image_tag("goalnect-mailto-48x48.png") %></a>
  </center>
  </div>
</div>

<div id="whyContent">
  <a name="why"></a>
  <iframe class="video_frame" src="http://player.vimeo.com/video/46359215?title=0&amp;byline=0&amp;portrait=0&amp;api=1" width="640" height="385" frameborder="0" webkitallowfullscreen="" allowfullscreen=""></iframe>  
</div>


<div id="howContent">
  <a name="how"></a>
  <%= image_tag("flow.newVersion.png", class: "flowImage") %>
</div>


<div id="homeContent">
        <a href="#amazing" id="mountainDream"></a>  
        <a href="#why" id="whyImage"></a>  
        <a href="#how" id="howImage"></a>
        <a name="home" id="startHome"></a>
</div>


</div>



