<div class="span8">    
	<div class="flexslider">
	  <ul class="slides">
	    <li>
		<%= link_to image_tag("slider-home-charity-#{I18n.locale}.png", class: "flowImage"), new_charity_path %>
	    </li>
	    <li>
		  <%= link_to image_tag("flow.newVersion-smaller-#{I18n.locale}.png", class: "flowImage"), "/static/how-it-works-#{I18n.locale}" %>
	    </li>
	  </ul>
	</div>    
	<div id="headlineSubtitle">
		<p><%= t "headline.home.subtitle1" %></p>
		<p><%= t "headline.home.subtitle2" %></p>
	</div>
	<div>
		<% events = GoalTemplate.home_events_current_locale %>
		
		<% events.each do |event| %>
		<div id="search-result">
			  <div>
				<%= image_tag event.image_url(:thumb) if event.image? %>
			  </div>
			  <div>
			    <span>
					<%= event.due_on %> - <%= event.title %>
					<br/>
					<%= link_to t("join"),  goal_template_path(event.title), :class => "btn btn-primary" %>
				</span> 
			  </div>
		</div>
		<% end %>		
		
	</div>
</div>

<div class="span3">
	<%= render 'goals/goal_template_form' %>
</div>
<div class="span3">
	<%= image_tag("comingsoon-#{I18n.locale}.png") %>
	<%= image_tag("headline-#{I18n.locale}.png") %><br/>
</div>
<div class="span3">
  <center>
	<a href="<%= t "vimeo.teaser" %>" rel="prettyPhoto" title=""><%= image_tag("video-thumb.png", class: "flowImage") %></a>
	<br/>
	<br/>
	<% Togg.le(:feature_fb_social) do %>
	   <div class="g-plusone" data-size="medium"></div>	
	   <a href="https://twitter.com/goalnect" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @goalnect</a>
	   <div class="fb-like-box" data-href="http://www.facebook.com/goalnect" data-width="270" data-show-faces="true" data-border-color="navy" data-stream="false" data-header="true">
	<% end %>
	</div>
 </center>
</div>





