
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $("a[rel^='prettyPhoto']").prettyPhoto({show_title: false, social_tools:false});
  });
</script>
<div class="span8">
<%= image_tag("flow.newVersion-smaller-#{I18n.locale}.png", class: "flowImage") %> 
</div>
<div class="span3">
	<%= image_tag("comingsoon-#{I18n.locale}.png") %>
	<%= image_tag("headline-#{I18n.locale}.png") %><br/>
</div>
<div id="headlineSubtitle" class="span3">
	<p><%= t "headline.home.subtitle1" %></p>
	<p><%= t "headline.home.subtitle2" %></p>
</div>
<div class="span3">
  <center>
	<a href="<%= t "vimeo.teaser" %>" rel="prettyPhoto" title=""><%= image_tag("video-thumb.png", class: "flowImage") %></a>
	<br/>
	<br/>
	<div class="fb-like-box" data-href="http://www.facebook.com/goalnect" data-width="270" data-show-faces="true" data-border-color="navy" data-stream="false" data-header="true"></div>
 </center>
</div>





