<%- model_class = Charity -%>
<div class="coluna1">
	<%= render 'charities/box', :charity => @charity %>
</div>
<div class="coluna2">
	<article class="box-grande">
			<section class="descricao-charity">
				<h2><%= @charity.charity_name %></h2>
				<h4 class="align_right"> <%= @charity.website%> </h4>
				<p id="goal_description_text"> 
					<%=raw_scape_xss(@charity.description) %>
				</p>
				<hr/>
				<section class="donations-summary">
					<div id="donation-amount">
						<figure>
							<%= image_tag 'raised-amount-thumbmedium.png' %>
						</figure>
						<p id="raised_so_far"><%=raw_scape_xss(t "charity_page.raised", :raised_amount => @charity.total_raised)%></p>
					</div>
					<div id="how-many-people">
						<figure>
							<%= image_tag 'features.apoie-se_em_amigos_thumbmedium.png' %>
						</figure>
						<p><%=raw_scape_xss(t "charity_page.people_contribution", :people_count => @charity.how_many_people_donate)%>
					</div>
					<div id="how-many-goals">
						<figure>
							<%= image_tag 'features.atinja_suas_metas_thumbmedium.png' %>
						</figure>
						<p><%=raw_scape_xss(t "charity_page.through_goal", :goal_count => @charity.how_many_goals_registered)%>
					</div>
					
					<% if is_current_user_charity_admin? @charity.id %>
						<span class="donations_list">
							<a href="<%=charity_donations_path(@charity.id)%>" title='<%= t "charity_page.list_all_donations"%>'><%= t "charity_page.list_all_donations"%></a>
						</span>
					<% end %>
				</section>
				<hr/>
				<section class="goal-social-plugins">
					<%= render 'layouts/social_plugins' %>
				</section>
			</section><!-- /descricao-goal //-->
</article>
</div>

</div>
<section id="bottom-section" clear="" >
	<div class="centraliza clearfix"> 
		<h1 class="mygoals_header"><%= t "charity_page.recent_goals"%></h1>
		<% goals = @charity.last_40_active_goals_by_charity %>
		<% if goals && !goals.empty?%>
			<% goals.each do |goal| %>   
	     		<%= render 'goals/box', :goal => goal %>
    			<% end %>
		<% else %>
			<%=t "charity_page.no_goals_message"%>
		<% end %>
	</div>
</section>

