<%- model_class = Charity -%>
<div class="coluna1">
	<%= render 'charities/box', :charity => @charity %>
	<% if is_current_user_charity_admin? @charity.id %>
		<article class="box-pequeno" id="charity-quick-links">
			<h4>Quick links:</h4>
			<hr/>
			<a href="<%=new_charity_update_path%>" class="button button-g" title='<%= t "charity_page.new_charity_update"%>'><span class="icon icon3"></span>&nbsp;&nbsp;&nbsp;<%= t "charity_page.new_charity_update"%></a>
				
			<a href="<%=charity_donations_path(@charity.id)%>" class="button button-g" title='<%= t "charity_page.list_all_donations"%>'><span class="icon icon120"></span>&nbsp;&nbsp;&nbsp;<%= t "charity_page.list_all_donations"%></a>
										
			<a href="<%=charity_show_goals_path(@charity.id)%>" class="button button-g" title='<%= t "charity_page.list_all_goals"%>' id="charity_list_all_goals_id"><span class="icon icon120"></span>&nbsp;&nbsp;&nbsp;<%= t "charity_page.list_all_goals"%></a>
			
			</article><!-- /box-pequeno //-->
	<% end %>
</div>
<div class="coluna2">
	<article class="box-grande">
			<section class="descricao-charity">
				<h2 class="titulo-goal"><%= @charity.charity_name %></h2>
				<p id="goal_description_text"> <%=raw_scape_xss(@charity.description) %></p>
				<hr/>
				<section class="donations-summary">
					<div id="donation-amount">
						<figure>
							<%= image_tag 'features.atinja_suas_metas_thumbmedium.png' %>
						</figure>
						<p><strong>R$ <%= @charity.find_total_raised_amount%></strong> arrecadados</p>
					</div>
					<div id="how-many-people">
						<figure>
							<%= image_tag 'features.apoie-se_em_amigos_thumbmedium.png' %>
						</figure>
						<p>Com a contribuicao de <strong><%=@charity.how_many_people_donate%></strong> pessoas</p>
					</div>
					<div id="how-many-goals">
						<figure>
							<%= image_tag 'features.atinja_suas_metas_thumbmedium.png' %>
						</figure>
						<p>atraves de <strong><%=@charity.how_many_goals_registered%></strong> goals </p>
					</div>
				</section>
				<hr/>
				<section class="goal-social-plugins">
					<%= render 'layouts/social_plugins' %>
				</section>
			</section><!-- /descricao-goal //-->
</article>
</div>

</div>

<section id="bottom-section" clear="" >
	<div class="centraliza clearfix"> 
	<div class="tabs charity-tabs">
		<ul class="clearfix">
			<li><h2><a href="#last_3_updates" title="last_3_updates" class="active"><%= t("charity_page.last_3_charity_updates") %></a></h2></li>
			<li><h2><a href="#last_10_donations" title="last_10_donations"><%= t("charity_page.last_10_donations") %></a></h2></li>
			<% if is_current_user_charity_admin?(@charity.id) %>
				<li><h2><a href="#last_10_goals" title="last_10_goals"><%= t("charity_page.last_10_goals") %></a></h2></li>
			<% end %>
		</ul>
		<hr />
		<div class="active content" id="last_3_updates">
				<p class="support-info" style="font-weight:normal">(<%= t("charity_page.update_info") %>)</p>
				<% if @last_3_updates && !@last_3_updates.empty?%>
					<% @last_3_updates.each do |update| %>
					<div class="row" style="margin-left:0px" id="charity_update_<%=update.id%>">
				<% if is_current_user_charity_admin?(@charity.id) %>
					<span style="float:right"><%= link_to t('edit'), edit_charity_update_path(update) %> | <%= link_to t('destroy'), update, confirm: 'Are you sure?', method: :delete %>
					</span>
					<% end %>
					<%=raw_scape_xss(update.message)%>

					</div>
					<hr/>
					<% end %>
				<% else %>
					<%= t "charity_page.no_charity_updates_message"%>
				<% end %>
		</div>
		<div class="content" id="last_10_donations">
				<% if @recent_donations && !@recent_donations.empty?%>
				<table class="table table-striped table-condensed tiptip"style="border-spacing: 0px;" id="donations_table">
				  <thead>
				    <tr>
					  <th width="15px"></th>
					  <th>Goal</th>
				 	  <th><%= t "charity_page.donor" %></th>
				      <th><%= t "activerecord.attributes.goal_donation.amount" %></th>
				    </tr>
				  </thead>
				  <tbody>
				      <% @recent_donations.each do |goal_donation| %>
				      <tr>
						<td>
						   <%= render 'goal_donations/stage_icon', :goal_donation => goal_donation%>	
						</td>
						<td><%= goal_donation.goal.title %></td>
					    <td><%= goal_donation.donor_name%></td>
				        <td><%= number_to_currency(goal_donation.amount) %></td>	
				      </tr>
				    <% end %>		
				  </tbody>
				</table>
				<%else%>
					<%=t "charity_page.no_donations_message"%>
				<%end%>
		</div>
		<% if is_current_user_charity_admin?(@charity.id) %>
		<div class="content" id="last_10_goals">
			<div class="span11" id="last_goals_div_id">
				<div class="page-header" style="padding-top:30px">
			  		<h4 style="text-align:right"></h4>
				</div>
				<% if @goals && !@goals.empty?%>
				<table class="table table-striped table-condensed tiptip"style="border-spacing: 0px;" id="donations_table">
				  <thead>
				    <tr>
					  <th width="100px"><%= t "charity_page.report" %> ?</th>
					  <th>Goal</th>
				    </tr>
				  </thead>
				  <tbody>
				      <% @goals.each do |goal| %>
				      <tr>
					    <td>
					    	<a href="<%=goal_report_abuse_path(goal.achiever.username, goal.id)%>" class="button icon-image" title='<%= t "charity_page.report_abuse"%>' data-confirm='<%= t "charity_page.confirm_report_abuse", :goal_title => goal.title %>' id='report_goal_<%=goal.id%>'><span class="icon icon5"></span></a>
					    </td>
						<td><%= goal.title %></td>	
				      </tr>
				    <% end %>		
				  </tbody>
				</table>
				<%else%>
					<%=t "charity_page.no_goals_message"%>
				<%end%>
			</div>
		</div>
		<% end %>

	</div>
		
	


	</div>
</section>




