<%- model_class = Charity -%>
<div class="page-header">
  <h1><%= @charity.charity_name %></h1>
</div>

<div class="span2">
	<p style="text-align:center" >
		<%= charity_image(@charity, :thumb)%>
	</p>
	<p style="text-align:center">
	  <b>
	    <%= @charity.website %>
	  </b>
	</p>

</div>
<div class="span9">
<p>
    <%= @charity.description %>
</p>
</div>

<div class="span11 page-header">
  <h4><%= t("charity_updates") %></h4>
</div>


