<h1>Como Funciona? (FAQ)</h1>

<div class="static" id="how-it-works">

<div class="qa">
<h2>O que é o Goalnect?</h2>
<p class="a">
	O Goalnect é uma plataforma de <a href="http://pt.wikipedia.org/wiki/Financiamento_coletivo" target="blank">financiamento coletivo (crowdfunding)</a>
	onde qualquer pessoa pode criar uma página para o seu "goal” (meta pessoal) e escolher uma ONG para a qual quer arrecadar doações. 
	Depois disso é só divulgar pra todos os amigos, colegas de trabalho e claro, sua página no facebook.
	As doações são repassadas para uma ONG e doadores e arrecadadores ganham Pontos Goalnect.
</p>
</div>

<div class="qa">
<h2>O que significa a palavra Goalnect?</h2>
<p class="a">
Goalnect é um neologismo, uma combinação de duas palavras que definem a nossa visão.
Goal + Connect (do inglês: Objetivo + Conectar). 
Queremos que as pessoas usem esta plataforma para se conectarem cada vez mais atingindo suas metas pessoais e ajudando a fazer um mundo melhor.
</p>
</div>

<div class="qa">
<h2>O que fazer para atingir um goal?</h2>
<p class="a">
	Qualquer usuário cadastrado pode criar uma página para o seu goal, uma meta pessoal que se comprometa a realizar.
	No momento da criação da página o usuário escolhe uma ONG para onde as doações serão enviadas e o valor mínimo que deseja arrecadar.
	Depois o usuário espalha para os amigos, colegas de trabalho e pra todos que queiram ajudar.
	E claro, corre atrás do que for preciso para atingir o goal.
	Durante a jornada em busca desta meta, pode-se fazer atualizações na página do seu goal para que seus amigos e apoiadores saibam como tudo está indo.	
</p>
</div>

<div class="qa">
<a name="what-is-a-goal" class="anchor"></a>
<h2>O que é um Goal?</h2>
<p class="a">
	Um "goal" é uma meta pessoal, um sonho que alguém quer alcançar. 
	Pelo fato da plataforma se chamar Goalnect queremos "aportuguesar" a palavra goal. Portanto, a partir de agora chamaremos esta "meta pessoal" de "goal" (pronúncia: "gol", do inglês: Objetivo/Meta).
	Para atingir um goal não    precisa, necessariamente, de dinheiro mas, sim, de motivação própria e dos amigos. 
	O goal deve ser algo bem específico e fácil de identificar quando for atingido.
</p>
<p class="a">
Alguns exemplos são: perder 10kg em 3 meses, correr uma maratona daqui a 1 mês, passar na prova da OAB, parar de fumar, etc.
</p>
</div>

<div class="qa">
<h2>O Goalnect em 5 passos</h2>
	<%= image_tag("flow.newVersion-smaller-pt.png", class: "flowImage") %> 
</div>


<div class="qa">
<h2>Entendi, explica com um exemplo prático</h2>
<ol>
	<li>
		O desejo de Vinícius é perder 10kg e sempre quis ajudar crianças carentes. 
		Por isso se cadastrou no Goalnect tentando arrecadar R$ 1.000,00 para a <%= link_to 'Visão Mundial', '/charities/visaomundial' %>
	</li>
	<li>
		Vinícius conta pra todos os seus amigos, colegas de trabalho e publica no seu facebook que vai perder peso 
		e que precisa de ajuda dos amigos.
	    Vários amigos de Vinícius ajudam de diversas formas: alguns deles fazem doações que somam R$1.100,00, outros dão dicas de alimentação 
	    e o amigo Paulo sugere correr com Vinícius no parque todas as quintas, depois do trabalho.
	</li>
	<li> 
		As doações são repassadas para a ONG escolhida por Vinícius.
	</li>
	<li>
		Antes mesmo do prazo, Vinícius consegue perder os 10kg, realizou seu sonho e arrecadou R$1.100,00, 110% do valor que esperava.
	</li>
	<li>
		Vinícius e os seus amigos que fizeram doações são creditados com Pontos Goalnect.
	</li>
</ol>
<h4>Veja o Vinícius explicando porque entrou no Goalnect:</h4>
<div class="video-player">
	<iframe src="http://player.vimeo.com/video/54746728?badge=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
</div>
</div>


<div class="qa">
<h2>Como as ONGs podem fazer parte do Goalnect?</h2>
<p class="a">
Buscamos ONGs justas, corretas e que mostram como utilizam suas verbas para fazer um mundo melhor.
Pretendemos ajudar várias causas que precisam de doações. Algumas delas são saúde, pobreza, educação, desigualdade social, animais carentes e outras.
</p>
<p class="a">
Se você conhece alguma ONG ou faz parte de uma,  
<%= link_to "fale conosco clicando aqui", new_charity_path %>.
</p>
</div>



<div class="qa">
<h2>O que fazer para ajudar o meu amigo que quer atingir um goal?</h2>
<p class="a">
   Existem várias formas de ajudar o seu amigo a atingir um goal, e o primeiro passo pode ser uma doação para a ONG escolhida por ele. 
   Mas você também pode ajudar escrevendo comentários ou sugerindo dicas, por exemplo. 
   Desta maneira, se o seu amigo quer perder 10kg, você pode enviar um link de uma dieta que viu na internet ou correr com ele no parque.	
</p>
</div>

<div class="qa">
<h2>Por que doar ajudaria meu amigo a atingir o goal dele?</h2>
<p class="a">
Arrecadar doações faz com que o goal seja algo maior, 
quando seu amigo perceber o quanto já arrecadou fica mais difícil desistir, 
pois ele sabe que o goal dele agora está ajudando muitos que precisam.
</p>
<p class="a">
Afinal, existe algo melhor que atingir uma meta pessoal, ajudar quem precisa e ganhar pontos e prêmios no final? :)
</p>
</div> 

<div class="qa">
<h2>Como funcionam os Pontos Goalnect?</h2>
<p class="a">
Quando alguém faz uma doação, o doador e o arrecadador ganham pontos. 
A quantidade de pontos é proporcional ao valor doado.
Estes pontos aguardarão o goal ser atingido.
Uma vez que o goal for atingido, os pontos serão liberados.
</p>
<p class="a">
Fique de olho na nossa <%= link_to 'página do Facebook', "http://www.facebook.com/goalnect" %> para descobrir o que você poderá fazer com seus pontos.
</p>
</div>


<div class="qa">
<h2>O que acontece se o goal não for atingido?</h2>
<p class="a">
No momento da criação da página do goal é obrigatória a informação de um prazo para o mesmo. 
No caso deste prazo expirar e o goal não ter sido atingido, os pontos não serão liberados. 
Por outro lado, as doações serão sim repassadas para a ONG escolhida, 
uma vez que a tentativa de atingir o goal ajudou, e muito, a arrecadar tais doações.
</p>
</div>

<div class="qa">
<h2>Quanto custa para criar um goal?</h2>
<p class="a">
Nada! Você pode se cadastrar e chamar seus amigos pra se cadastrarem no Goalnect sem nenhum custo.
E você também pode criar quantos goals quiser.
</p>
</div>

<div class="qa">
<h2>Como sei se a minha doação é segura?</h2>
<p class="a">
Todas as doações utilizam o moderno e seguro meio de pagamento pela internet PagSeguro do UOL.
Você informa os dados do pagamento diretamente para o PagSeguro.
Então, pode ter certeza de que tudo é muito seguro. 
</p>
</div>

<div class="qa">
<h2>Que taxas são cobradas?</h2>
<p class="a">
Existem dois tipos de taxas cobradas que serão descontadas do valor da doação antes deste ser repassado para a ONG.
<p class="a">- Taxa de Transação Online: Esta taxa é cobrada pelo meio de pagamento online utilizado (PagSeguro). Verifique os valores cobrados <a href="https://PagSeguro.uol.com.br/taxas_e_tarifas.jhtml" target="blank">neste link</a>.</p>
<p class="a">- Taxa de manutenção do Goalnect: O Goalnect cobra uma taxa de 7,5% do valor doado.</p>
<p class="a">Estas taxas só serão cobradas caso alguma doação seja efetuada, ou seja, não existe nenhum custo para uma ONG que não recebeu doações. Isso quer dizer que as ONGs sempre saem ganhando.</p>
</p>
</div>

<div class="qa">
<h2>Por que o Goalnect cobra uma taxa?</h2>
<p class="a">
O objetivo da taxa cobrada pelo Goalnect é financiar os custos de manutenção de uma plataforma moderna e revolucionária na internet.
A taxa cobrada é reinvestida na empresa trazendo inovações e proporcionando para todos os envolvidos nesta jornada as ferramentas necessárias.
O Goalnect tem um Goal: Um dia teremos empresas apoiadoras que abraçarão a nossa causa e assim poderemos repassar cada vez mais o valor da doação para as ONGs.
</p>
</div>

<div class="qa">
<h2>O que acontece com o dinheiro depois da doação?</h2>
<p class="a">
Existem duas formas de repasse da doação para as ONGs, cada ONG deve optar por uma das opções no momento que fechar a parceria com o Goalnect.
</p>
<ol>
<li>
<strong>Utilizar uma conta de titularidade do Goalnect no PagSeguro: </strong>
 Uma vez por mês o Goalnect desconta a sua taxa e o montante arrecadado é transferido do PagSeguro para as contas bancárias de cada ONG apoiada. A ONG tem o direito de receber todo dinheiro arrecadado em seu nome, descontadas as tarifas do PagSeguro e a taxa do Goalnect;	
</li>
<li>
<strong>Utilizar uma conta de titularidade da ONG no PagSeguro:</strong>
Esta conta será gerenciada pela ONG e deverá ser uma conta utilizada exclusivamente para arrecadações originadas do Goalnect. O pagamento da taxa do Goalnect deverá ser efetuado uma vez por mês pela ONG caso haja doações para a mesma. 
</li>
</ol>
</div>

         
<div class="qa">
<h2>Já ouvi falar nesse crowdfunding, mas era diferente...</h2>
<p class="a">
A ideia de arrecadação coletiva de fundos para uma causa é algo utilizado há muito tempo. 
<a href="http://pt.wikipedia.org/wiki/Financiamento_coletivo" target="blank">A wikipedia cita o Criança Esperança e o Teleton como exemplos de crowdfunding.</a>
</p>
<p class="a">
O termo <a href="http://pt.wikipedia.org/wiki/Financiamento_coletivo" target="blank">financiamento coletivo (crowdfunding)</a> é relativamente novo, criado em 2006, e se popularizou 
ainda mais com as plataformas <a href="http://www.kickstarter.com" target="blank"> Kickstarter</a>, <a href="http://www.catarse.me" target="blank"> Catarse</a>, <a href="http://www.bicharia.com.br" target="blank"> Bicharia</a> e outras.
</p>
<p class="a">
O Goalnect não é concorrente das plataformas citadas. 
Somos todos plataformas de crowdfunding, mas quem cria um "goal" no Goalnect não está buscando arrecadar fundos para si mesmo.
Esta pessoa está procurando realizar um sonho, uma meta pessoal e para isso não precisa de dinheiro. 
Arrecadar doações para uma ONG na qual acredita é uma forma de se auto motivar, conectar-se com amigos, ampliar a rede social e fazer a diferença para o mundo.
</p>
</div>


<div class="qa">
<h2>Tenho uma dúvida que não está respondida aqui</h2>
<p class="a">
Pode nos enviar a sua dúvida para o email <a href="mailto:<%= t "email.team" %>" target="blank"><%= t "email.team" %></a> que responderemos. Ah, e se você preferir a gente coloca nesta página.
</p>
</div>


</div>