<div class="static" id="how-it-works">

<div class="qa">
<h3>O que é o Goalnect?</h3>
<p class="a">
	O Goalnect é uma plataforma de <a href="http://pt.wikipedia.org/wiki/Financiamento_coletivo" target="blank">financiamento coletivo (crowdfunding)</a>
	onde qualquer pessoa pode criar uma página para o seu "goal” (meta pessoal) e escolher uma instituição de caridade para a qual quer arrecadar doações. 
	Depois disso é só divulgar pra todos os amigos, colegas de trabalho e claro, sua página no facebook.
	As doações são direcionadas para uma instituição de caridade e todos ganham pontos que podem ser trocados por prêmios.	
</p>
<p class="a">
	(O Goalnect está em processo de firmar parcerias para a definição final de como os pontos serão resgatados, em breve maiores informações serão adicionadas)
</p>
</div>

<div class="qa">
<h3>O que significa a palavra Goalnect?</h3>
<p class="a">
Goalnect é um neologismo, uma combinação de duas palavras que definem a nossa visão.
Goal + Connect (do inglês: Objetivo + Conectar). 
Queremos que as pessoas usem esta plataforma para se conectar cada vez mais atingindo suas metas pessoais e ajudando a fazer um mundo melhor.
</p>
</div>

<div class="qa">
<h3>O que fazer para atingir um goal?</h3>
<p class="a">
	Qualquer usuário cadastrado pode criar uma página para o seu goal, uma meta pessoal que se compromente a realizar.
	No momento da criação da página o usuário escolhe uma instituição de caridade para onde as doações serão enviadas e o valor mínimo que deseja arrecadar.
	Depois o usuário espalha para os amigos, colegas de trabalho e pra todos que queiram ajudar.
	E claro, corre atrás do que for preciso para atingir o goal.
	Durante a jornada em busca desta meta, pode-se fazer atualizações na página do seu goal para que seus amigos e apoiadores saibam como tudo está indo.	
</p>
</div>

<div class="qa">
<h3>O que é um Goal?</h3>
<p class="a">
	Um "goal" é uma meta pessoal, um sonho que alguém quer alcançar. 
	Pelo fato da plataforma se chamar Goalnect queremos "aportuguesar" a palavra goal. Portanto, a partir de agora chamaremos esta "meta pessoal" de "goal" (pronúncia: "gol", do inglês: Objetivo/Meta).
	Para atingir um goal não se precisa necessariamente de dinheiro, mas sim de motivação própria e dos amigos. 
	O goal deve ser algo bem específico e fácil de identificar quando for atingido.
</p>
<p class="a">
Alguns exemplos são: perder 10kg em 3 meses, correr uma maratona daqui a 1 mês, passar na prova da OAB, parar de fumar, etc.
</p>
</div>

<div class="qa">
<h3>O Goalnect em 5 passos</h3>
	<%= image_tag("flow.newVersion-smaller-pt.png", class: "flowImage") %> 
</div>


<div class="qa">
<h3>Entendi, explica com um exemplo prático</h3>
<p class="a">
	1 - Daniela sonhava em correr uma maratona de 10km e sempre quis ajudar pesquisas de câncer.
	Por isso se cadastrou no Goalnect tentando arrecadar R$500 para o "CC Crianças com Câncer"(*).
</p>
<p class="a">
    2 - Daniela conta pra todos os seus amigos, colegas de trabalho e publica no seu facebook que vai correr a 
    maratona que acontecerá daqui a 1 mês e que precisa de ajuda dos amigos.
    Vários amigos de Daniela ajudam de diversas formas: alguns deles fazem doações que somam R$550, outros dão dicas de alimentação 
    e o amigo Paulo sugere treinar com Daniela no parque todas as quintas depois do trabalho.
</p>
<p class="a">
    3 - As doações são repassadas para a instituição escolhida por Daniela.
</p>
<p class="a">
	4 - Daniela conseguiu correr a maratona, realizou seu sonho e arrecadou R$550, 110% do valor que esperava.
</p>
<p class="a">
	5 - Daniela e os seus amigos que fizeram doações são creditados com Pontos Goalnect que podem ser utilizados para resgatar prêmios.
</p>
<p class="a">(*) Instituição fictícia, o Goalnect ainda está fazendo parcerias com instituições. </p>
</div>


<div class="qa">
<h3>Como as instituições podem fazer parte do Goalnect?</h3>
<p class="a">
Buscamos instituições justas, corretas e que mostram como utilizam suas verbas para fazer um mundo melhor.
Queremos poder ajudar várias causas que precisam de doações, algumas delas são saúde, pobreza, educação, desigualdade social, animais carentes e outras.
</p>
<p class="a">
Se você conhece alguma instituição ou faz parte de uma,  
<%= link_to "fale conosco clicando aqui", new_charity_path %>.
</p>
</div>



<div class="qa">
<h3>O que fazer para ajudar o meu amigo que quer atingir um goal?</h3>
<p class="a">
	Existem várias formas de ajudar o seu amigo a atingir um goal.
	Primeiramente doando para a instituição escolhida. Mas você também pode ajudar escrevendo comentários ou sugerindo dicas. 
	Por exemplo, se o seu amigo quer perder 10kg, você pode enviar um link de uma dieta que viu na internet ou ir correr no parque com ele.
</p>
</div>

<div class="qa">
<h3>Por que doar ajudaria meu amigo a atingir o goal dele?</h3>
<p class="a">
Arrecadar doações faz com que o goal seja algo maior, 
quando seu amigo perceber o quanto já arrecadou fica mais difícil desistir, 
pois ele sabe que o goal dele agora está ajudando muitos que precisam.
</p>
<p class="a">
Afinal de contas, existe algo melhor do que atingir uma meta pessoal, ajudar quem precisa e ganhar pontos e prêmios no final? :)
</p>
</div> 

<div class="qa">
<h3>Como funcionam os Pontos Goalnect?</h3>
<p class="a">
Quando algúem faz uma doação, o doador e o arrecadador ganham pontos. 
A quantidade de pontos é proporcional ao valor doado.
Estes pontos ficarão aguardando o goal ser atingido.
Uma vez que o goal for atingido, os pontos serão liberados.
</p>
<p class="a">
(O Goalnect está em processo de firmar parcerias para a definição final de como os pontos serão resgatados, em breve maiores informações serão adicionadas)
</p>
</div>


<div class="qa">
<h3>O que acontece se o goal não for atingido?</h3>
<p class="a">
No momento da criação da página do goal é obrigatória a informação de um prazo para o mesmo. 
No caso deste prazo expirar e o goal não ter sido atingido os pontos não serão liberados. 
Por outro lado, as doações serão repassadas para a instituição escolhida, 
afinal de contas a jornada tentando atingir o goal ajudou a arrecadar essas doações.
</p>
</div>

<div class="qa">
<h3>Quanto custa para criar um goal?</h3>
<p class="a">
Nada! Você pode se cadastrar e chamar seus amigos pra se cadastrarem no Goalnect sem nenhum custo.
E você também pode criar quantos goals quiser.
</p>
</div>

<div class="qa">
<h3>Como sei se a minha doação é segura?</h3>
<p class="a">
Todas as doações utilizam o moderno e seguro meio de pagamento pela internet PagSeguro do UOL.
Você informa os dados do pagamento diretamente para o PagSeguro.
Então pode ter certeza de que tudo é muito seguro. 
</p>
</div>

<div class="qa">
<h3>O que acontece com o dinheiro depois da doação?</h3>
<p class="a">
Em média, 15 dias corridos depois da doação ser feita e confirmada, o PagSeguro desconta a sua taxa de transação e credita o valor restante em uma conta de "custódia" do Goalnect.
Uma vez por mês o Goalnect desconta a sua taxa e o montante arrecadado é transferido da conta de custódia para as contas de cada instituição apoiada.
</p>
</div>

<div class="qa">
<h3>Que taxas são cobradas?</h3>
<p class="a">
Existem dois tipos de taxas cobradas que serão descontadas do valor da doação antes deste ser repassado para a instituição.
<p class="a">- Taxa de Transação Online: Esta taxa é cobrada pelo meio de pagamento online utilizado (PagSeguro). Verifique os valores cobrados <a href="https://pagseguro.uol.com.br/taxas_e_tarifas.jhtml" target="blank">neste link</a>.</p>
<p class="a">- Taxa de manutenção do Goalnect: O Goalnect cobra uma taxa de 7,5% do valor doado.</p>
<p class="a">Estas taxas só serão cobradas caso alguma doação seja efetuada, ou seja, não existe nenhum custo para uma instituição que não recebeu doações. Isso quer dizer que as instituições sempre saem ganhando.</p>
</p>
</div>

<div class="qa">
<h3>Por que o Goalnect cobra uma taxa?</h3>
<p class="a">
O objetivo da taxa cobrada pelo Goalnect é financiar os custos de manutenção de uma plataforma moderna e revolucionária na internet.
A taxa cobrada é reinvestida na empresa trazendo inovações e proporcionando para todos os envolvidos nesta jornada as ferramentas necessárias.
O Goalnect tem um Goal: Um dia teremos empresas apoiadoras que abraçarão a nossa causa e assim poderemos repassar cada vez mais o valor da doação para as instituições.
</p>
</div>
         
<div class="qa">
<h3>Qual é o modelo de negócio do Goalnect?</h3>
	<%= image_tag("business-model-canvas-goalnect.jpg", class: "flowImage") %> 
</div>



<div class="qa">
<h3>Já ouvi falar nesse crowdfunding, mas era diferente...</h3>
<p class="a">
A ideia de arrecadação coletiva de fundos para uma causa é algo utilizado há muito tempo. 
<a href="http://pt.wikipedia.org/wiki/Financiamento_coletivo" target="blank">A wikipedia cita o Criança Esperança e o Teleton como exemplos de crowdfunding.</a>
</p>
<p class="a">
O termo <a href="http://pt.wikipedia.org/wiki/Financiamento_coletivo" target="blank">financiamento coletivo (crowdfunding)</a> é relativamente novo, criado em 2006 e se popularizou 
ainda mais com as plataformas <a href="http://www.kickstarter.com" target="blank">Kickstarter</a>, <a href="http://www.catarse.me" target="blank">Catarse</a>, <a href="http://www.bicharia.com.br" target="blank">Bicharia</a> e outras.
</p>
<p class="a">
O Goalnect não é concorrente das plataformas citadas. 
Somos todos plataformas de crowdfunding, mas quem cria um "goal" no Goalnect não está buscando arrecadar fundos para si mesmo.
Esta pessoa está procurando realizar um sonho, uma meta pessoal e para isso não precisa de dinheiro. 
Arrecadar doações para uma instituição na qual acredita é uma forma de se auto motivar, conectar-se com amigos, ampliar a rede social e fazer a diferença para o mundo.
</p>
</div>


<div class="qa">
<h3>Tenho uma dúvida que não está respondida aqui</h3>
<p class="a">
Pode nos enviar a sua dúvida para o email <a href="mailto:<%= t "email.team" %>" target="blank"><%= t "email.team" %></a> que responderemos e se você quiser a gente coloca nesta página.
</p>
</div>


</div>
