<div class="box-goal">
<article class="box-pequeno">
	<div class="box_goal_content">
	<figure class="imagem-goal">
		<a href="<%= show_goal_path_by_goal goal %>" >
			<%= random_img_tag [img_src_full("goaltemplate", goal.goal_template, :thumb), img_src_full("charity", goal.charity, :thumb), user_full_image_url(goal.achiever, :thumb)] %>
	    </a>
	</figure>
	
	
	<h5>
		<a href="<%= show_goal_path_by_goal goal %>" >
			<%= goal.title %>
	    </a>
	</h5>     
	
	
	<% if current_user_is_achiever?(@achiever) && goal.goalStage.id == GoalStage::PENDING.id %>
		<%= link_to t("accept_challenge"),  accept_challenge_path(goal.achiever.username, goal.id), :class => "btn btn-primary" %>
		<%= link_to t("reject"),  reject_challenge_path(goal.achiever.username, goal.id), :class => "btn" %>
	<% else %>
    	<%=raw_scape_xss goal.description%>
	<% end %>
	</div>
	
	<hr/>

    <%= render 'goals/target_amount_progress', :goal => goal %>
	
	<div class="actions clearfix">
		<a class="isupport_true" href="<%= i_support_goal_path(goal.achiever.username, goal.id)  %>" title='<%=t "possible_button" %>'>
		</a>
		<a class="isupport_false" href="<%= i_dont_support_path(goal.achiever.username, goal.id)  %>" title='<%=t "no_way_button" %>'>
		</a>
		<a class="donate" href="<%= donate_goal_path(goal.id)  %>" title='<%=t "donate_now" %>'>
			<span><%=t "donate_now" %></span>
		</a>
	</div>
	
</article><!-- /box-pequeno //-->    
</div>
