<%= render 'achiever/achiever_profile', :achiever => @goal.achiever %>
<div class="coluna2">
	<article class="box-grande">
		<% if !@goal.id %>
			<%if @goal.achiever.id == current_user.id%>
				<h2><%=t("headline.goal.title")%></h2>
			<% else %>
				<h2><%=t("headline.goal.dare_title")%></h2>
			<% end %>
		<% else%>
			<h2><%=t("headline.goal.edit", :title => @goal.title)%></h2>
		<% end %>
		<hr/>
		<%= form_for @goal, :url => url_value, :html => { :class => 'form-horizontal' } do |f| %>    

		  <%= render 'layouts/model_error_messages', :target => @goal %>


		<section id="infos-goal" class="clearfix">
			<figure class="imagem-goal">
				<%= image_tag(img_src('GoalTemplate', @goal.goal_template, :thumb), id: "image_goal_template", :data => { :default_src => "#{asset_path('nopic/goaltemplate-nopic-thumb.png')}"}) %>
			</figure>
			<section class="descricao-goal">
				<div class="control-group">
					<%= f.label :title_selected, :class => 'control-label' %>
					<div class="controls">
				      <%= f.text_field :title_selected, data: {autocomplete_source: GoalTemplate.all_active_current_locale.order(:title).map(&:title)} %>
				    </div>
				  </div>

				  <div class="control-group">
				    <div class="controls" id="description_guide">
				    </div>
				  </div>

				  <div class="control-group">
				    <%= f.label :description, :class => 'control-label' %>
				    <div class="controls">
				      <%= f.text_area :description, :class => 'text_area', :rows => '5', :cols => '50', :placeholder => @goal.goal_template ? @goal.goal_template.description : "" %>
				    </div>
				  </div>
				  <div class="control-group">
				    <%= f.label :due_on, :class => 'control-label' %>
				    <div class="controls">
				      <%= f.date_select :due_on, :class => 'date_select', :order => [:day, :month, :year] %>
				    </div>
				  </div>

			    <% if @goal.id && @goal.is_there_donations_for_this_goal%>
					<div class="control-group">
					  <hr/>
					    <label><%=t('goal.not_possible_to_change_charity_msg')%></label>
					    <h3><%=@goal.charity.charity_name%></h3>
					  <hr/>
					</div>
				<% else %>
				 <div class="control-group">
				    <%= f.label :charity_id, :class => 'control-label' %>
				    <div class="controls">
					<% charities = Charity.all_active %>
					<%= collection_select(:goal, :charity_id, charities, :id, :charity_name, {:prompt => t('select_charity')}) %>
					
					<% charities.each_with_index do |charity| %>
					
					  <div class="charity_hidden" id="goal_charity_id_<%=charity.id%>">
						<hr/>
						<figure class="new_goal_charity_img">
							<a href="<%= charity_show_path charity.id %>" target="blank">
						        <%= img_tag charity, :thumb %>
						    </a>
						</figure>
						<p><h2><%= charity.charity_name %></h2></p>
						<p class="new_goal_charity_description"> <%= raw_scape_html charity.description %></p>
						<hr/>
					  </div>
					
					<% end %>
				    </div>
				  </div>
				<%end%>
				  <div class="control-group">
					<%= f.label :target_amount, :class => 'control-label' %>
					<div class="controls">
				      <label><%= t('currency')%></label><%= f.text_field :target_amount %>
					  <p><%=t('goal.target_amount_guide')%></p>
				    </div>
				  </div>
					<hr/>
				  <div class="form-actions">
				    <%= f.submit nil, :class => 'btn btn-primary' %>
					<%= link_to t('cancel'), '/'+@goal.achiever.username, :class => 'btn' %>
				  </div>
			</section><!-- /descricao-goal //-->
		</section><!-- /infos-goal //-->
		<% end %>
		
	</article>
</div>


