
<%= form_for @goal, :url => '/'+@achiever_username+'/goals/create', :html => { :class => 'form-horizontal' } do |f| %>    

  <%= render 'layouts/model_error_messages', :target => @goal %>

  <div class="control-group">
	<%= f.label :title_selected, :class => 'control-label' %>
	<div class="controls">
      <%= f.text_field :title_selected, data: {autocomplete_source: GoalTemplate.all_active_current_locale.order(:title).map(&:title)} %>
	<div id="image_goal_template">
		<% if @goal_template && @goal_template.image %>
			<%=image_tag(@goal_template.image_url(:thumb))%>
		<% end %>
    </div>
    </div>
  </div>
	
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area', :size => "50x10"  %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :due_on, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :due_on, :class => 'date_select', :order => [:day, :month, :year] %>
    </div>
  </div>

 <div class="control-group">
    <%= f.label :charity_id, :class => 'control-label' %>
    <div class="controls">
     <%= collection_select(:goal, :charity_id, Charity.find_all_by_active(true), :id, :charity_name, {:prompt => 'Select Charity'}) %>
    </div>
  </div>

  <div class="control-group">
	<%= f.label :target_amount, :class => 'control-label' %>
	<div class="controls">
      <%= f.text_field :target_amount %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
	<%= link_to t('.cancel', :default => t("helpers.links.cancel")), '/'+@achiever_username, :class => 'btn' %>
  </div>
<% end %>
