<div class="coluna2">
	<article class="box-grande">
		<% if @goal.goalStage.id == GoalStage::PENDING.id %>
		<section id="challenge_div">
			<p id="challenge_question"><%=t('you_have_been_challenged_by', :challenger => @goal.owner.screen_name)%></p>		
			<%= link_to t("accept_challenge"),  accept_challenge_path(@goal.achiever.username, @goal.id), :class => "btn btn-success" %>
			<%= link_to t("reject"),  reject_challenge_path(@goal.achiever.username, @goal.id), :class => "btn btn-danger" %>
		</section>
		<hr/>
		<% end %>	
			<section id="infos-instituicao" class="clearfix">
				<figure class="logo-instituicao">
					<%= charity_image @goal.charity, :thumbmedium %>
				</figure>
				<article class="descricao-instituicao">
					<% if @goal.goalStage.id == GoalStage::PENDING.id %>
						<p id="goal_charity_phrase"><%=t('goal.dare_charity_phrase')%></p>
					<% else %>
						<p id="goal_charity_phrase"><%=t('goal.charity_support_phrase')%></p>
					<% end %>
					<h3><a href="<%= charity_show_path @goal.charity.id %>" ><%= @goal.charity.charity_name%></a></h3>

					<%= render 'goals/target_amount_progress', :goal => goal %>
				</article><!-- /descricao-instituicao //-->
				<p><a href="<%= donate_goal_path(goal.id)%>" title="<%=t("donate_now")%>" class="sprite botao-apoiar" id="donate_button"><%=t("donate_now")%></a></p>
			</section><!-- /infos-instituicao //-->
			<hr/>
		
		<section id="infos-goal" class="clearfix">
			<figure class="imagem-goal">	
				<%= img_tag_null_safe 'GoalTemplate', @goal.goal_template, :thumb %>
			</figure>
			<section class="descricao-goal">
				<h2 class="titulo-goal"><%= goal.title%></h2>
				<p id="goal-created-by"><b>
					<% if goal.owner.id == goal.achiever.id %>
						<%= t "goal.goal_created_by", :owner => goal.owner.screen_name %>  
					<% else %>
						<%= t "goal.dare_created_by", :owner => goal.owner.screen_name %>  
					<% end %>
					-  <%= t "goal.due_on" %>: <%= l goal.due_on%>
				</b></p>
				<br/>
				<p id="goal_description_text"><%=raw_scape_html goal.description%></p>
			</section><!-- /descricao-goal //-->
		</section><!-- /infos-goal //-->
	    <hr/>	
		<section id="status-goal" class="clearfix">
			<div>
				<div id="due_on_section">
				<span class="iconsgoal-daysleft sprite dias-restantes font12 fonte-benton azul-escuro" id="days_left">
					<%= render "goals/days_left", :goal => goal %>
				</span>
				<h5 id="status_message"> <%=raw_scape_xss goal.goalStage.translated_name%></h5>
				<% if current_user_is_achiever?(@goal.achiever) && @goal.goalStage.id != GoalStage::DONE.id%>
				 <p class="clearfix"><a href="<%= goal_done_path(@goal.id)%>" class="btn btn-primary"><%=t('goal_done.btn')%></a></p>
				<% end %>
				</div>
				<div id="junto_duvido_button_div" class="clearfix">
				<ul id="opt-junto-duvido">					
					<% current_user_support = goal.support_for(current_user)	%>
					  <li>
						<a href="<%= i_support_goal_path(goal.achiever.username, goal.id)  %>" title="<%= (current_user_support.present? and current_user_support.i_support) ? t('including_you') : t("what_do_you_think") %>" class="sprite botao-tamo-junto tiptip" id="i_support_true_button">
					    <span class="qte" id="i_support_count_true">
						<%= goal.how_many_believe %>
						</span> 
						<span class="titulo-botao">
						<%= t"possible" %>
						</span>
						</a>
					  </li>
						  
					  <li>
						<a href="<%= i_dont_support_path(goal.achiever.username, goal.id) %>" title="<%= (current_user_support.present? and !current_user_support.i_support) ? t('including_you') : t("what_do_you_think") %>" class="sprite botao-duvido tiptip" id="i_support_false_button"><span class="qte" id="i_support_count_false">
						<%=goal.how_many_dont_believe %>
						</span>
						<span class="titulo-botao"><%= t("no_way") %>
					    </span>
					    </a>
					   </li>
						
				</ul>
				</div>
			<div>
		</section><!-- /status-goal //-->
		<section class="goal-social-plugins clearfix">
			<hr/>
			<%= render 'layouts/social_plugins' %>
			<% title_facebook = t('goal.post_on_facebook_title', :achiever => goal.achiever.screen_name, :title => goal.title.downcase)%>
			<a class="btn btn-primary goal_facebook_btn " onclick='postToFeed("<%= current_url %>", "<%= title_facebook%>"); return false;'><%=t('goal.post_on_facebook_btn')%></a>
		</section>
		
	</article><!-- /box-grande //-->
</div><!-- /coluna2 //-->


