<div class="coluna2">
	<article class="box-grande">
		<section id="infos-goal" class="clearfix">
			<figure class="imagem-goal">
				<% image_src = @goal.goal_template ? @goal.goal_template.image_url(:thumb) : "template.padrao.png" %>
				<%= image_tag(image_src, id: "image_goal_template", :data => { :default_src => "#{asset_path('template.padrao.png')}"}) %>
			</figure>
			<section class="descricao-goal">
				<h2 class="titulo-goal"><%= goal.title%></h2>
				<h4 class="align_right"><%= t "goal.due_on" %>: <%= l goal.due_on%></h4>
				<p><%=raw_scape_xss goal.description%></p>
			</section><!-- /descricao-goal //-->
		</section><!-- /infos-goal //-->
		<% Togg.le(:feature_fb_social) do %>
		<section class="goal-social-plugins">
					<div class="g-plusone" data-size="medium"></div>
					<a href="https://twitter.com/share" class="twitter-share-button" data-text="<%=t "check_out_this_goal"%>: " data-related="goalnect" data-hashtags="goalnect">Tweet</a>
			      <div class="fb-like" data-href="<%= current_url %>" data-send="true" data-show-faces="false"></div>
		</section>
	    <% end %>	
		<hr/>	
		<section id="infos-instituicao" class="clearfix">
			<figure class="logo-instituicao">
				<%= charity_image @goal.charity, :thumbmedium %>
			</figure>
			<article class="descricao-instituicao">
				<p class="font14 fonte-benton cinza-claro">Vamos juntos, esse Goal vai apoiar a</p>
				<h3><%= @goal.charity.charity_name%></h3>
				<div class="status-bar">
					<% percentage_raised = goal.raised_so_far_percentage %>
					<% percentage_truncated = percentage_raised > 100 ? 100 : percentage_raised %>
					<div class="progress" style="width:<%=percentage_truncated %>%;"></div>
				</div><!-- /status-bar //-->
				<section class="valores">
					<p>R$ <%= goal.raised_so_far.to_i %> / R$ <%= goal.target_amount.to_i%></p>
					
					<p class="porcentagem"><%= percentage_raised.to_i %>%</p>
				</section><!-- /valores //-->
			</article><!-- /descricao-instituicao //-->
			<p><a href="<%= donate_goal_path(goal.id)%>" title="<%=t("donate_now")%>" class="sprite botao-apoiar" id="donate_button"><%=t("donate_now")%></a></p>
		</section><!-- /infos-instituicao //-->
		<hr/>

		<section id="status-goal" class="clearfix">
			<div>
				<span class="sprite dias-restantes font12 fonte-benton azul-escuro" id="days_left">
					<%= render "goals/days_left", :goal => goal %>
				</span>
				<span class="font18 fonte-benton azul-escuro float_left" id="status_message"> <%=raw goal.goalStage.translated_name%></span>
				<div id="junto_duvido_button_div" >
				<ul id="opt-junto-duvido">
					<% current_user_support = goal.support_for(current_user)	%>
					<li>
						<a href="<%= i_support_goal_path(goal.achiever.username, goal.id)  %>" title="<%= t"possible" %> <%= t('including_you') if current_user_support.present? and current_user_support.i_support %>" class="sprite botao-tamo-junto" id="i_support_true_button">
					    <span class="qte" id="i_support_count_true">
						<%= goal.how_many_believe %>
						</span> 
						<span class="titulo-botao">
						<%= t"possible" %>
						</span>
						</a>
						</li>
					    <li>
						<a href="<%= i_dont_support_path(goal.achiever.username, goal.id) %>" title="<%= t("no_way") %> <%= t('including_you') if current_user_support.present? and !current_user_support.i_support %>" class="sprite botao-duvido" id="i_support_false_button"><span class="qte" id="i_support_count_false">
						<%=goal.how_many_dont_believe %>
						</span>
						<span class="titulo-botao"><%= t("no_way") %>
					    </span>
					    </a></li>
						
						<% if is_current_user_charity_admin?(goal.charity.id) %>
						<li>
							<a href="<%=goal_report_abuse_path(goal.achiever.username, goal.id)%>" class="sprite botao-duvido">
							<span class="titulo-botao"><%= t "report_abuse"%>
						    </span>
						    </a>
						</li>
						<% end %>	
				</ul>
				</div>
			<div>
		</section><!-- /status-goal //-->
		
		
	</article><!-- /box-grande //-->
</div><!-- /coluna2 //-->


