<div class="coluna1">
</div><!-- /coluna1 //-->

<div class="coluna2">
	<section id="journeys" class="goal_bottom_section">
		<hr/>
		<% if current_user_is_achiever?(@goal.achiever) %>
		<h2><%= t ('goal.feedback')%></h2>
		<% else %>
		<h2><%= t ('goal.incentives')%></h2>
		<% end %>
		<hr />
		<% if current_user %>
		<div id="comment_clue" class="alert">
			<%= render "goals/clue_comment-#{I18n.locale}", :goal => @goal%>	
		</div>
			<div id="add_comment">
				<%= form_for(@goal_comment , :url => goal_comment_create_json_path(@goal.id)) do |f| %>
				  <div class="field">
				    <%= f.text_area :message, :cols => "40", :rows => "6", "data-user-img" => user_full_image_url(current_user, :thumbmini), "data-username" => current_user.username %>
				  </div>
				  <div class="actions">
				    <%= f.submit t("send"), :id => "add_comment_btn", :class => "btn btn-primary" %>
				  </div>
				<% end %>
			</div>
		<% end %>
		<div id="all_comments">
		<% total_comments = 0 %>
		<% @goal.find_comments.each_with_index do |comment, index| %>
		<% if index < 4 %>
		<article class="journey clearfix">
		<% else %>
		<article class="journey clearfix journey_hidden">
		<% end %>
			<figure class="journey_achiever">
				<div class="img_user_thumbmini_div">
				<%= user_image comment.user, :thumbmini%>
				</div>
			</figure>
			<div class="journey_desc">
				<p><strong><%= comment.user.screen_name %>: </strong><%= comment.message %></p>
				<p class="small-font"><%= l comment.created_at, :format => :short %></p>
			</div><!-- /journey_desc //-->
		</article><!-- /journey //-->
		<% total_comments = index%>
		<% end %>
		<% if total_comments >= 4 %>
			<a href="#" id="show_more_id" class="show_left"><%=t('show_more')%></a>
			<a href="#" id="show_less_id" class="hidden_left"><%=t('show_less')%></a>
		<% end %>
		<% if total_comments == 0 %>
			<%= t('there_are_no_updates') %>
		<% end %>
		</div>
	</section><!-- /journeys //-->
	<section id="goal_fb_comments" class="goal_bottom_section">
		<hr />
		<h2>Facebook <%= t ('comments')%></h2>
		<hr/>
		<div class="tab-pane fade" id="goal-comments-tab">
			<div class="fb-comments" data-href="<%= current_url %>" data-width="730" data-num-posts="4"></div>
		</div>	
	</section>
	
	<section id="goal_donations" class="goal_bottom_section clearfix">
		<hr/>
		<h2><%= t('donations')%></h2>
		<hr />
		<% goal_donations = @goal.goal_donations_to_display%>
		<% if goal_donations.empty? %>
			<%= t ('there_are_no_donations')%>
		<% else %>
		<% goal_donations.each do |goal_donation| %>
		<article class="donation clearfix">
			<figure class="donation_donor">
				<div class="img_user_thumbmini_div">
				<%= user_image goal_donation.user, :thumbmini%>
				</div>
			</figure>
			<div class="donation_desc">
				<p><%=raw_scape_xss t('donated', :name => goal_donation.donor_name, :amount => goal_donation.amount)%>
				<p><%= goal_donation.message %></p>
				<p class="small-font"><%= l goal_donation.created_at, :format => :short %></p>
			</div><!-- /journey_desc //-->
		</article><!-- /journey //-->
		<% end %>
		<% end %>
	</section>

	<%= render 'goals/social_plugins', :goal => goal %>
</div><!-- /coluna2 //-->
