<h1>Editing goal</h1>

<%= form_for(@goal) do |f| %>
<% if @goal.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

	<ul>
		<% @goal.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<br/>
<div class="field">
	<%= f.label :description %>
	<%= f.text_area :description %>
</div>
<div class="actions">
	<%= f.submit %>
</div>
<% end %>


<%= link_to 'Show', show_goal_path(@achiever.url, @goal.id) %> |
<%= link_to 'Back', goals_path(@achiever.url) %>
