<%- model_class = @goal.class -%>
<script>
$(function() { 
	$('ul.nav-tabs').children().removeClass('active');
	$('div.tab-content').children().removeClass('active').removeClass('in');
	<% if @tab %>
		$('<%="#"+@tab+"-tab-link" %>').addClass('active');
		$('<%="#"+@tab+"-tab" %>').addClass('in active');
	<% else %>
		$('#goal-description-tab-link').addClass('active');
		$('#goal-description-tab').addClass('in active');
	<% end %>
});
</script>

<% title @goal.title %>
<% meta :description => title_facebook_for_goal(@goal),
        :keywords => "#{@goal.title}, #{t('seo.home_keywords')}" %>

<div class="coluna1">
	<%= render '/achiever/box', :achiever => @goal.achiever %>     
	<%= render '/goals/actions_box', :goal => @goal %>  
</div><!-- /coluna1 //-->
		
<%= render 'goals/header_div', :goal => @goal %>
</div>
<section id="bottom-section">
	<div id="goal-tabs" class="centraliza clearfix">
		<%= render 'journey_tab', :goal => @goal %>   
	</div>
</section>
<div>
