<%- model_class = @goal.class -%>
<h4><%= @goal.achiever.screen_name %> commits to <%= @goal.title%> by <%= l @goal.due_on %></h4>
<div class="span7">
	<div class="jq-tabs">
		<ul>
			<li><a href="#tabs-1">Description</a></li>
			<li><a href="#tabs-2">Journey</a></li>
			<li><a href="#tabs-3">Comments</a></li>
		</ul>
		<div id="tabs-1">
			<pre><%=raw @goal.description %></pre>
		</div>
		<div id="tabs-2">
				<% if current_user_is_achiever? %>
				<%= form_for @goal_comment, :format => :json, :url => '/'+@goal.achiever.username+'/goals/add_comment/'+@goal.id.to_s+'.json',:remote => true, :html => {:'data-type' => 'json' } do |f| %>    
					<%= render 'layouts/model_error_messages', :target => @goal_comment %>
				  <div class="field">
				    <%= f.label :feedback %><br />
				    <%= f.text_area :message, :rows => 10 %>
				    <%= f.submit nil, :class => 'btn btn-primary', :value => 'Send', :disable_with => 'Saving...' %>
				  </div>
				<% end %>
				<% end %>
				<div id="comments_div">
					<% comments = @goal.find_comments() %>	
					    <% comments.each do |comment| %>
					<hr style="color: #717171; height: 1px;">
					<%= comment.message%>
					<span class="small_i_font">(<%= comment.created_at %>)</span>
					<% end %>
			    </div>
		</div>
		<div id="tabs-3">
			<div id="fb-root"></div>
			<fb:comments href="/<%=@goal.achiever.username + '/goals/show/' + @goal.id.to_s %>"></fb:comments>
		</div>
	</div>
	<div class="form-actions">
		<%= link_to t('.back', :default => t("helpers.links.back")), '/'+@goal.achiever.username, :class => 'btn' %>
	</div>
</div>
<div class="span4">
	<div class="span3 row well" style="background:white">
		Status: <%= @goal.goalStage.name%> <span class="small_i_font"> (<%= l @goal.goal_stage_changed_at, :format => :short %>)</span>
		<% if current_user_is_achiever? %>
			<%= form_for @goal, :url => '/'+@goal.achiever.username+'/goals/change_stage/'+@goal.id.to_s, :html => { :class => 'form-horizontal' } do |f| %>
			Change to: <%= collection_select(:goal, :goal_stage_id, GoalStage.possible_goal_stage_updates, :id, :name) %>
		 	<%= f.submit nil, :class => 'btn btn-primary' %>
			<% end %>
		<% end %>
	</div>
	<div class="span3 row well">
		<div id="support_form_div_id">
			<% if current_user %>
			<%= form_for @goal_support, :format => :json, :remote => true,  :url => '/'+@goal.achiever.username+'/goals/add_support/'+@goal.id.to_s+'.json', :html => { :'data-type' => 'json' } do |f| %>
			   <%= render 'layouts/model_error_messages', :target => @goal_support %>
			   <%= f.check_box :i_support, :class => 'check_box', :style => 'display:none' %>
			 <%= f.submit nil, :disable_with => "Sending", :class => "btn btn-primary", :value => "I Believe", :onclick => "$('#goal_support_i_support').prop('checked', true);"%>
			<%= f.submit nil, :disable_with => "Sending", :class => "btn btn-primary", :value => "Srsly?!?", :onclick => "$('#goal_support_i_support').prop('checked', false);"%>
			<% end %>
			<% end %>
		</div>
		<div id="support_info_msg">
		</div>
	</div>
	<div class="span3 row well" style="background:white">
		<table class="table table-striped table-condensed">
		  <thead>
		    <tr>
		 	  <th>Name</th>
		      <th>Value</th>
		      <th>Status</th>
		    </tr>
		  </thead>
		  <tbody>
		      <% @goal.goal_donations.each do |goal_donation| %>
		      <tr>
		        <td><%= goal_donation.donor_name%></td>
		        <td><%= goal_donation.amount %></td>
				<td><%= goal_donation.displayed_status %></td>
		      </tr>
		    <% end %>		
		  </tbody>
		</table>
		<a href="/goal_donations/new/<%=@goal.id.to_s%>" class="btn btn-primary" style="color:white">Donate</a>
		
	</div>

	
		<script>
			$().ready(function() {
				$.getJSON(
					"<%= '/'+@goal.achiever.username+'/goals/support_info/'+@goal.id.to_s+'.json' %>",
					renderSupportSection
				);
			})
			
			function renderSupportSection (data){
				$("#support_form_div_id").hide();
				if (!data.has_given_support){
					$("#support_form_div_id").show();
				}
				$("#support_info_msg").html("your support: " + data.support_value + " - believes: " + data.support_true_count + " - Srsly: " + data.support_false_count);
			} 
		
		
			$('#new_goal_comment').on('ajax:success',function(event, data, status, xhr){
		    	$("#comments_div").append("<hr style='color: #717171; height: 1px;'>" + data.message + "<span class='small_i_font'>(" + data.created_at + ")</span>");
				$("#goal_comment_message").val('');
			});
			
			$('#new_goal_support').on('ajax:success',function(event, data, status, xhr){
			   renderSupportSection(data);
			});
		</script>

</div>


