<div class="span7">
	<%- model_class = @goal.class -%>
	<h4><%= @goal.achiever.screen_name %> commits to <%= @goal.title%> by <%= @goal.due_on %></h4>

	<pre><%=raw @goal.description %></pre>
	<div class="form-actions">
		<%= link_to t('.back', :default => t("helpers.links.back")), '/'+@goal.achiever.username, :class => 'btn' %>
	</div>
</div>
<div class="span4">
	<div class="span3 row well">
		<div id="support_form_div_id">
			<%= form_for @goal_support, :format => :json, :remote => true,  :url => '/'+@goal.achiever.username+'/goals/add_support/'+@goal.id.to_s+'.json', :html => { :'data-type' => 'json' } do |f| %>
			   <%= render 'layouts/model_error_messages', :target => @goal_support %>
			   <%= f.check_box :i_support, :class => 'check_box', :style => 'display:none' %>
			 <%= f.submit nil, :disable_with => "Sending", :class => "btn btn-primary", :value => "I Believe", :onclick => "$('#goal_support_i_support').prop('checked', true);"%>
			<%= f.submit nil, :disable_with => "Sending", :class => "btn btn-primary", :value => "Srsly?!?", :onclick => "$('#goal_support_i_support').prop('checked', false);"%>
			<% end %>
		</div>
		<div id="support_info_msg">
		</div>
	</div>
	<div class="span3 row well" style="background:white">
		<table class="table table-striped table-condensed">
		  <thead>
		    <tr>
		 	  <th>Name</th>
		      <th>Value</th>
		    </tr>
		  </thead>
		  <tbody>
		      <tr>
		        <td>Fabio Pereira</td>
		        <td>$ 50.00</td>
		      </tr>
			  <tr>
		        <td>Daniella Hayashi</td>
		        <td>$ 30.00</td>
		      </tr> 		
		  </tbody>
		</table>
		<input type="button" value="Donate" class="btn btn-primary"/>
	</div>
	<div class="span3 row well">
		<%= form_for @goal_comment, :format => :json, :url => '/'+@goal.achiever.username+'/goals/add_comment/'+@goal.id.to_s+'.json',:remote => true, :html => {:'data-type' => 'json' } do |f| %>    
			<%= render 'layouts/model_error_messages', :target => @goal_comment %>
		  <div class="field">
		    <%= f.label :message %><br />
		    <%= f.text_area :message, :rows => 2 %>
		    <%= f.submit nil, :class => 'btn btn-primary', :value => 'Send', :disable_with => 'Saving...' %>
		  </div>
		<% end %>
		<div id="comments_div">
			<% comments = @goal.find_comments() %>	
			    <% comments.each do |comment| %>
				<b><%= comment.user.screen_name%>:</b> <%= comment.message%><br/>
			<% end %>
		</div>
		<script>
			$().ready(function() {
				$.getJSON(
					"<%= '/'+@goal.achiever.username+'/goals/support_info/'+@goal.id.to_s+'.json' %>",
					renderSupportSection
				);
			})
			
			function renderSupportSection (data){
				$("#support_form_div_id").hide();
				if (!data.has_given_support){
					$("#support_form_div_id").show();
				}
				$("#support_info_msg").html("your support: " + data.support_value + " - believes: " + data.support_true_count + " - Srsly: " + data.support_false_count);
			} 
		
		
			$('#new_goal_comment').on('ajax:success',function(event, data, status, xhr){
		    	$('#comments_div').append(data.user.screen_name + ':' + data.message + '<br/>');
			});
			$('#new_goal_support').on('ajax:success',function(event, data, status, xhr){
			   renderSupportSection(data);
			});
		</script>

	</div>
</div>


