
<article class="box-pequeno box-event">
	<figure id="event-medium">	
		<a href="<%= event_show_path(event.id)%>" >
	        <%= img_tag event, :thumbmedium %>
	    </a>
	</figure>
	<h5>
		<a href="<%= event_show_path(event.id)%>" >
			<%= event.title %>
	    </a>
	</h5>
	<p class="bigger_paragraph">
		<b><%= t('evetns.date')%> <%= event.due_on%></b>
	</p>
	<hr class="traditional_hr"/>
	<p id="want_to_join"><a href="<%=commit_to_event_path(event.title)%>" class="btn btn-success"><%= t('events.join_event_btn')%></a></p>
</article><!-- /box-pequeno //-->
