<h1><%= t "events.event_helping_who_need" %></h1>

  <div id="event-search">
	<form class="search" action="/events">
      <input id="event_q" name="event_q" type="text" value="<%= params[:event_q] %>" placeholder="<%= t 'events.search' %>"/>
      <input type="submit" value="<%= t 'label.search' %>"/>
    </form>
  </div>

</div>

<section id="bottom-section" clear="" >
  <div class="centraliza clearfix">
	<p class="bigger_paragraph"><%= t('events.goalnect_dont_register_you_to_the_event')%> <a href="http://www.ativo.com/eventos" target="blank"><%=image_tag 'selo_inscricao4.jpg' ,:id => 'ativo-img'%></a></p>
	<div id="events">
	  <% if @events && !@events.empty? %>
	    <% @events.each do |event| %>
          <%= render 'goal_templates/event_box', :event => event %>
        <% end %>
      <% else %>
		<p id="warning_information"><%= t('events.no_result_found')%></p>
	  <% end %>
	</div>
    <hr class="traditional_hr">
    <p class="bigger_paragraph"><%= t('events.didnt_find_event')%> <a href="/goals/new"> <%= t('here')%></a></p> 
 </div>
 
</section>

<div>