<%- model_class = Charity -%>
<div class="coluna1">
	<div class="">
	<article class="box-pequeno">
		<figure id="event-img">	
			<a href="<%= event_show_path(@event.id)%>" >
		       <%= img_tag @event, :thumb %>
		    </a>
		</figure>
		<hr/>
		<p class="bigger_paragraph align-center">
			<b><%= t 'events.date' %>: <%= @event.due_on%></b>
		</p>
		<hr/>
		<p class="align-center"><%= t('events.for_more_info')%><a href="http://www.ativo.com/eventos" target="blank"><%=image_tag 'logo_ativo.com_H.jpg' ,:id => 'ativo-img'%></a></p>
	</article><!-- /box-pequeno //-->
	</div>
	
</div>
<div class="coluna2">
	<article class="box-grande-fb">
		<div class="clearfix">
			<section class="descricao-charity">
				<h2><%= @event.title %></h2>
				
				<p class="new_goal_charity_description" id="goal_description_text"> 
					<%=raw_scape_xss(@event.description) %>
				</p>
				<% today = Date.today %>
				<% if @event.due_on > today %>
				<hr/>
				<p id="want_to_join_show_event"><a href='<%=commit_to_event_path(@event.title)%>' class="btn btn-success"><%= t('events.join_event_btn')%></a></p>
				<p class="bigger_paragraph"><%= t('events.goalnect_dont_register_you_to_the_event')%> <a href="http://www.ativo.com/eventos" target="blank"><%=image_tag 'selo_inscricao4.jpg' ,:id => 'ativo-img'%></a></p>
				<%end%>
				<hr/>
				<section class="goal-social-plugins clearfix">
					<%= render 'layouts/social_plugins', :text => @event.title %>
					<a class="btn btn-primary goal_facebook_btn " onclick='postToFeed("<%= current_url %>", "<%= title_facebook_for_event @event %>","<%=close_fb_popup_path%>", "#event-img"); return false;'><%=t('goal.post_on_facebook_btn')%></a>
				</section>
			</section><!-- /descricao-goal //-->
		</div>
	</article>
</div>

</div>

<section id="bottom-section" clear="" >
	<div class="centraliza clearfix"> 
		<h1 class="mygoals_header"><%= t "charity_page.recent_goals"%></h1>
		<% top_10_goals = @event.top_10_goals %>
		<% if top_10_goals && !top_10_goals.empty?%>
			<% top_10_goals.each do |goal| %>   
	     		<%= render 'goals/box', :goal => goal, :first_img => :achiever %>
    			<% end %>
		<% else %>
			<%=t "events.no_goals_message"%>
		<% end %>
	</div>
</section>
                 
<div>
