<%- model_class = Charity -%>
<div class="coluna1">
	<div class="">
	<article class="box-pequeno">
		<figure>	
			<a href="<%= event_show_path(@event.id)%>" >
		        <%= img_tag @event, :thumb %>
		    </a>
		</figure>
		<hr/>
		<p class="bigger_paragraph align-center">
			Data: <%= @event.due_on%>
		</p>
		
		<% today = Date.today %>
		<% if @event.due_on > today %>
		<hr/>
		<p id="want_to_join"><a href='<%=commit_to_event_path(@event.title)%>' class="btn btn-success"><%= t('events.join_event_btn')%></a></p>
		<%end%>
	</article><!-- /box-pequeno //-->
	</div>
	
</div>
<div class="coluna2">
	<article class="box-grande-fb">
		<div class="clearfix">
			<section class="descricao-charity">
				<h2><%= @event.title %></h2>
				
				<p class="new_goal_charity_description" id="goal_description_text"> 
					<%=raw_scape_xss(@event.description) %>
				</p>
				<hr/>
				<section class="donations-summary">
					<div id="donation-amount">
						<figure>
							<%= image_tag 'raised-amount-thumbmedium.png' %>
						</figure>
						<p id="raised_so_far"><%=raw_scape_xss(t "charity_page.raised", :raised_amount => @event.id)%></p>
					</div>
					<div id="how-many-people">
						<figure>
							<%= image_tag 'features.apoie-se_em_amigos_thumbmedium.png' %>
						</figure>
						<p><%=raw_scape_xss(t "charity_page.people_contribution", :people_count => @event.id)%>
					</div>
					<div id="how-many-goals">
						<figure>
							<%= image_tag 'features.atinja_suas_metas_thumbmedium.png' %>
						</figure>
						<p><%=raw_scape_xss(t "charity_page.through_goal", :goal_count => @event.id)%>
					</div>
				</section>
				<hr/>
				<section class="goal-social-plugins">
					<%= render 'layouts/social_plugins', :text => @event.title %>
				</section>
			</section><!-- /descricao-goal //-->
		</div>
	</article>
</div>

</div>

<section id="bottom-section" clear="" >
	<div class="centraliza clearfix"> 
		<h1 class="mygoals_header"><%= t "charity_page.recent_goals"%></h1>
		<% top_10_goals = @event.top_10_goals %>
		<% if top_10_goals && !top_10_goals.empty?%>
			<% top_10_goals.each do |goal| %>   
	     		<%= render 'goals/box', :goal => goal %>
    			<% end %>
		<% else %>
			<%=t "events.no_goals_message"%>
		<% end %>
	</div>
</section>
                 
<div>
