<div class="coluna1">
	<%= render 'achiever/box', :achiever => achiever %>
	
	<article class="box-pequeno">
		<h4><%= t("points_summary")%>:</h4>
		<hr/>
		<% points_summary = achiever.points_summary %>
		<p><%= t("active_points")%>.....<span id="available_points"><%= points_summary.available_points %></span>pts</p>
		<p><%= t("locked_points")%>.....<span id="locked_points"><%= points_summary.locked_points %></span>pts</p>
		<p><%= t("redeemed_points")%>.....<span id="redeemed_points"><%= points_summary.redeemed_points %></span>pts</p>
		<p><%= link_to t("statement"), "/#{achiever.username}/points_statement" %></p>
	</article><!-- /box-pequeno //-->
	<% if current_user_is_achiever?(achiever) %>
	<article class="box-pequeno">
		<h4>Quick links:</h4>
		<hr/>
		<% if current_user.charity_id %>
		  <p><%= link_to current_user.charity.charity_name, charity_path(current_user.charity.id) %></p>
		<% end %>
		<p><a href="#">xxx</a></p>
		<p><a href="#">xxx</a></p>
	</article><!-- /box-pequeno //-->
	<% end %>
</div><!-- /coluna1 //-->

