<div class="span2 well achiever_profile" style="border-color:navy">
	<%= user_image achiever, :thumb %><br/>
	<h4><%= achiever.screen_name %></h4>
		<hr/>
	<% if current_user_is_achiever?(achiever) %>
		<p class="action-text"><%= link_to t('change_photo'), '/achiever/edit_profile_photo' %></p>
		<hr/>
		<p class="action-text"><%= link_to t('edit_profile'), '/achiever/edit'  %></p>
		<hr/>
		<% if current_user.charity_id%>
		<% charity_url = '/charities/private_show/'+current_user.charity.id.to_s %>
		<p class="action-text"><%= link_to current_user.charity.charity_name, charity_url %></p>
		<hr/>
		<% end %>
	<% end %>
		<p class="points-summary"><b><%= t("points_summary")%>:</b></p>
		<p class="points-summary"><%= t("active_points")%>.....<span id="total-points-true"><%=achiever.points_summary(true)%></span>pts</p>
		<p class="points-summary"><%= t("locked_points")%>.....<span id="total-points-false"><%=achiever.points_summary(false)%></span>pts</p>
		<%= link_to t("statement"), "/#{achiever.username}/points_statement" %>
</div>