<% goalnections = @goalnection_summary.goalnections %>  
<% if goalnections && !goalnections.empty? %>
	<% goalnections.each do |goalnection| %>  
	<a href="<%= show_goal_path_by_goal goalnection.goal %>" > 
		<div class="goalnections">
			<div id="goalnections-header" class="clearfix">
			<div id="goalnections-img">
				<%= user_image goalnection.goal.achiever,:thumbmini %>
			</div>
				<p id="goalnections_goal_title">
					<%= goalnection.goal.title%>
				</p>
			<p class="small-paragraph">
				<%= t('goalnector')%>: <%=goalnection.goal.achiever.screen_name%>
			</p>
			<p class="small-paragraph">
				<% if goalnection.goal.owner_id == goalnection.goal.achiever_id %>
					<%= t('goal.goal_created_by', :owner => goalnection.goal.owner.screen_name)%> 
				<% else %>
					<%= t('goal.dare_created_by', :owner => goalnection.goal.owner.screen_name)%>
				<% end %>
			</p>
			<p class="small-paragraph">
				<%= t('goal.status')%>: <%=goalnection.goal.goalStage.translated_name %>
			</p>
			</div>
			<div id="goalnections-description" class="clearfix">
				<hr id="goalnections-hr"/>
				<ul>
				<% if goalnection.donation %>
					<li><%=t('goalnections.donated', :amount => goalnection.donation)%></li>
				<% else %>
					<li class="pending_action"><%=t('goalnections.hasnt_donated_yet')%></li>
				<% end %>
				<% if goalnection.update %>
					<li><%=t('goalnections.added_feedback_incentive')%></li>
				<% else %>
					 <li class="pending_action"><%=t('goalnections.hasnt_add_feedback_incentive')%> </li>
				<% end %>
				<% if goalnection.i_support.nil? %>
					 <li class="pending_action"><%=t('goalnections.hasnt_added_support')%></li>
				<% else %>
					<% if goalnection.i_support %>
						<li><%=t('goalnections.added_support_true')%></li>
					<%else%>
						<li><%=t('goalnections.added_support_false')%></li>
					<%end %> 	
				<% end %>
				</ul>
			</div>	
		</div>
	</a>
	<% end %> 
<%else%>        
	<% if current_user_is_achiever?(@achiever)%>
		<%= t('goal.there_are_no_goalnections_start_supporting_friends')%>
	<% else %>
		<%= t('goal.there_are_no_goalnections')%>
	<% end %>
<%end%>