<% points_summary = achiever.points_summary%>
<section id="points-summary">
	
	<div id="backers">
		<figure>
			<%= image_tag 'features.apoie-se_em_amigos_thumbmedium.png' %>
		</figure>
		<p><%=raw_scape_xss t("backers", :backers => achiever.total_backers)%></p>
	</div>
	
	
	<div id="donation-amount">
		<figure>
			<%= image_tag 'raised-amount-thumbmedium.png' %>
		</figure>
		<p><%=raw_scape_xss t("raised", :raised_amount => achiever.total_raised)%></p>
	</div>
	
	<div id="available_points">
		<figure>
			<%= image_tag 'unlocked_points_thumbmedium.png' %>
		</figure>
		<p><%=raw_scape_xss t("point_summary_active", :active_pts => points_summary.available_points)%></p>
	</div>
</section>