<%= render 'achiever/achiever_profile', :achiever => @user %>
<div class="coluna2">
	<article class="box-grande">
	<%= form_for @user, :url => '/achiever/update', :html => { :class => 'form-horizontal', :multipart => true } do |f| %>    

		<%= render 'layouts/model_error_messages', :target => @user %>

	    <div class="control-group">
		<%= f.label :screen_name, :class => 'control-label' %>
		<div class="controls">
	      <%= f.text_field :screen_name, :placeholder => User.human_attribute_name('screen_name') %>
	    </div>
	  </div>

	  <div class="control-group">
		<label class="control-label" for="user_username"><%= t "url.site" %>/</label>
		<div class="controls">
	      <%= f.text_field :username, :placeholder => User.human_attribute_name('username') %>
	    </div>
	  </div>
	
	  <div class="control-group">
	    <%= f.label :country, :class => 'control-label'  %>
	    <div class="controls">
	     <%= collection_select(:user, :country_id, Country.all, :id, :name) %>
	    </div>
	  </div>


	  <div class="form-actions">
	    <%= f.submit nil, :class => 'btn btn-primary' %>
		<%= link_to t('cancel'), '/'+@user.username, :class => 'btn' %>
	  </div>
	<% end %>
	</article>
</div>
