	<div class="coluna1">
		<div class="coluna1">
			<%= render '/achiever/achiever_profile', :achiever => @achiever %>     
		</div><!-- /coluna1 //-->
	</div>
	<div class="coluna2">
		<article class="box-grande clearfix">
			<%= render 'achiever/header_summary', :achiever =>  @achiever%>
			<hr/>
			<%= render 'goals/goal_template_form', :achiever_username => @achiever.username%>
		</article>
	</div>
</div>   

	<section id="bottom-section" clear="">
		<div class="centraliza clearfix ">
			<div class="tabs">
				<a href="#tab-my-goals" class="tab active">
					<% if current_user_is_achiever?(@achiever) %>
						<%= t "goal.my_goals_header"%>
					<% else %>
						<%= t "goal.user_goals_header", :screen_name => @achiever.screen_name %>
					<% end %>
				</a>
				<a href="#tab-goalnections" class="tab">
					<%= t "goal.goalnections"%>
				</a>
				<a href="#tab-my-donations" class="tab">
				   <%= t "goal.donations" %>
				</a>
				<hr/>
				<div id="tab-my-goals" class="content active"> 
						<div class="my_goals">   
						<% my_goals = @achiever.find_active_goals() %>  
						<% if my_goals && !my_goals.empty? %>
							<% my_goals.each do |goal| %>   
						     	<%= render 'goals/box', :goal => goal %>
					    	<% end %> 
					 	<%else%>        
							<%= t('there_are_no_goals')%>
						<%end%>
						</div>
					</div>

					<div id="tab-goalnections" class="centraliza content clearfix"> 
						<%= render 'achiever/goalnections' %>
					</div>

					<div id="tab-my-donations" class="centraliza content clearfix"> 
						<%= render 'achiever/my_donations'%>
					</div>

			   </div>
		</div>
	</section>
<div>