	<div class="coluna1">
		<%= render 'achiever/box', :achiever => @achiever %>
	</div>
	<div class="coluna2">
		<article class="box-grande">
				<p class="subtitle_green"><b><%=t("about_me_title")%>:</b></p>
				<% if @achiever.about_me.blank? %>
					<%= t 'blank_about_me', :name => @achiever.screen_name %>
				<% else %>
					<%= @achiever.about_me %>
				<% end %>
				<%= render 'goals/new_goal_url' %>
		</article>
	</div>
</div>   
	<section id="bottom-section" clear="" >
		<div class="centraliza clearfix"> 
			<h1 class="mygoals_header">My Goals</h1>
			<div class="my_goals">
			<% my_goals = @achiever.find_active_goals() %>
			<% is_my_home = my_goals.empty? && current_user_is_achiever?(@achiever) %>
			<%if is_my_home %>
				<%= t "your_next_step_message" %> 
				<div>
					<%= render 'goals/goal_template_form' %>
				</div>
			<%else%>
				<% my_goals.each do |goal| %>   
			     	<%= render 'goals/box', :goal => goal %>
		    	<% end %>  
			<% end %>
			</div>
		</div>
	</section>
<div>