<header>
	<h1><a href="/" class="sprite logo indent">Goalnect</a></h1>
	<nav id="menu">
		<ul>
			<% Togg.le(:feature_authentication) do %>
			    <li>
			    	<%= render 'search/search_form' %>
			    </li>                                 
			<% end %>
			<li><a href="http://www.facebook.com/goalnect" target="blank"><%= image_tag("facebook.png", style: "width:25px;height:25px") %></a></li>
			<li><a href="http://www.twitter.com/goalnect" target="blank"><%= image_tag("twitter.png", style: "width:25px;height:25px") %></a></li>
			<li><a href="mailto:<%= t "email.team" %>" target="blank"><%= image_tag("goalnect-mailto-48x48.png", style: "width:25px;height:25px") %></a></li>


			<li> <%= link_to t("static.howitworks"), "/s/faq" %> </li>
			
			<% Togg.le(:feature_sign_in) do %>
			   <% if user_signed_in? %>
			   <li> 
			     <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
	           </li>
			   <% end %>
			<% end %>

			
			<% Togg.le(:feature_authentication) do %>
			    <% if user_signed_in? %>
			       <li> 
			    	   <a href="<%= current_user.full_url %>" >
			             <%= user_image current_user, :thumbmini %>
			           </a>
		           </li>
			    <% end %>
			    
			    
			    <% if user_signed_in? %>
			     <input type="hidden" id="current_user_test" value="<%=current_user.username %>"/>
			      <li>
			    	<% if session[:fb_token].nil? %>
			    	   <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
			    	<% else %>
			    	   <%= link_to "Logout", facebook_logout_path %>
			    	<% end %>      
			      </li>
			    <% else %>
			      <li>
			        <%= link_to('Login', new_user_session_path)  %>
			      </li>
			    <% end %>
			<% end %>
		</ul>
	</nav>
</header>