<!DOCTYPE html>
<html>
	<head>
		<title>Goalnect</title>
		<%= stylesheet_link_tag "application", media: "all"  %>
		<%= stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css"%>
		<%= csrf_meta_tag %>
		<%= javascript_include_tag "application" %>
		<script src="http://connect.facebook.net/en_US/all.js#xfbml=1">
		</script>
		<script>
		$(function() {
				$( ".jq-tabs" ).tabs();
			});
			</script>
		
		</script>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta property="fb:app_id" content="<%= ENV['FACEBOOK_APP_ID']%>">
		<%= render 'layouts/shim' %>
		<%= analytics_init if Rails.env.production? || Rails.env.staging? %>
		<header>
		<%= render 'layouts/header' %>
		</header>
	</head>
	
	<body>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<section id="main">
		
			
			<div id="container" class="container">
				<div class="flash">
					<% flash.each do |type, message| -%>
					<div class="message <%= type %>">
						<p>
							<%= message %>
						</p>
					</div>
					<% end -%>
				</div>
				
				<%= yield %>
				


				
			</div>
			<br/>
		</section>
			<footer class ="footer">
				<center>
						Goalnect
				</center>
			</footer>
		</div>
		
	</body>
</html>
