<!DOCTYPE html>
<html>
	<head>
		<title>Goalnect</title>
		<%= stylesheet_link_tag "application", media: "all"  %>
		<%= stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css"%>
		
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= render 'layouts/shim' %>
		<%= analytics_init if Rails.env.production? %>
		<header>
		<%= render 'layouts/header' %>
		</header>
	</head>
	
	<body>
		
		<section id="main">
			
			<div class="flash">
				<% flash.each do |type, message| -%>
				<div class="message <%= type %>">
					<p>
						<%= message %>
					</p>
				</div>
				<% end -%>
			</div>
			
			<div id="container" class="container">

				
				<%= yield %>
				


				
			</div>
		</section>
		<footer>
			<sub>
				<center>
					
					Goalnect
					
				</center></sub>
		</footer>
		</div>
		
	</body>
</html>
