<!DOCTYPE html>
<html>
	<head>
		<title>Goalnect</title>

		<%= stylesheet_link_tag "application", :media => "all"  %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>

	<body>
		<header>
			<div style="float: left;">
				Goalnect
				<div>
					<div id="search">
						Search user or team:
						<input type="text"/>
					
					<% if user_signed_in? %>
					Signed in as <%= current_user.email %>
					<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
					<% end %>
</div> 
		</header>
		<section id="main">
			<div class="flash">
				<% flash.each do |type, message| -%>
				<div class="message <%= type %>">
					<p>
						<%= message %>
					</p>
				</div>
				<% end -%>
			</div>
			<%= yield %>
		</section>
		<footer>
			<sub>Service Desk | Goalnect</sub>
		</footer>
	</body>
</html>
