<!DOCTYPE html>
<html>
	<head>
		<title>Goalnect</title>
		<%= stylesheet_link_tag "application", media: "all"  %>
		<%= stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css"%>
		<%= csrf_meta_tag %>
		<%= javascript_include_tag "application" %>
		<% Togg.le(:feature_fb_social) do %>
		  <script src="http://connect.facebook.net/<%= facebook_locale %>/all.js#xfbml=1">
		  </script>
		  <!--twitter -->
		  <script>
		     !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
		  </script>
		<% end %>
		 <script>
		$(function() {
				$( ".jq-tabs" ).tabs();
				//don't ever let people edit html code, they can insert javascript.
				// $('.text_area').wysihtml5({"html": true});
				//$('.text_area').wysihtml5();
				$(".date_select").datepicker({changeYear : true, changeMonth : true});
			});
			</script>
		
		</script>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta property="fb:app_id" content="<%= ENV['FACEBOOK_APP_ID']%>">
		<%= render 'layouts/shim' %>
		<%= analytics_init if Rails.env.production? || Rails.env.staging? %>
		<header>
		<%= render 'layouts/header' %>
		</header>
	</head>
	<body>
		<div id="fb-root"></div>
		<script> 
	      FB.init({appId: "<%= ENV['FACEBOOK_APP_ID']%>", status: true, cookie: true});
	    </script>
		
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = '//connect.facebook.net/<%= facebook_locale %>/all.js#xfbml=1';
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		</script>
		
			<div class="body_min_height">
			<div class="centraliza clearfix">
				<% flash.each do |name, msg| %>
				  <% if msg.is_a?(String) %>
				    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
				      <a class="close" data-dismiss="alert">&#215;</a>
				      <%= content_tag :div, msg, :id => "flash_#{name}" %>
				    </div>
				  <% end %>
				<% end %>
				<%= yield %>
			</div>
			</div>
			<footer>
				<div class="centraliza clearfix">
					<nav id="menu-footer">
						<ul>
							<%= render 'layouts/footer' %>
						</ul>
					</nav>
				</div><!-- /centraliza //-->	
			</footer>


		
	</body>
</html>
