<div><%= render 'layouts/model_error_messages', :target => resource %></div>
<div id="sign_in_section" class="span5">
<div>
<h2><%= t 'devise.sessions.sign_in' %></h2>
<h5><%= t 'devise.sessions.sign_in_subtitle' %></h5>
</div>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>
  <%= link_to t("devise.links.forgot_your_password"), new_password_path(resource_name) %><br />

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit t("devise.sessions.sign_in") %></div>
<div>
<h2><%= t 'devise.sessions.facebook_sign_in' %></h2>
<h5><%= t 'devise.sessions.facebook_sign_in_subtitle' %></h5>
</div>

	<% Togg.le(:feature_authentication) do %>
	  <%= link_to t('facebook.login_title'), '/auth/facebook/', :class => "fb-button" %>
	<% end %>

<% end %>

</div>



<div id="sign_up_section" class="span5">
<h2><%= t 'devise.sessions.sign_up'%></h2>
<h5><%= t 'devise.sessions.sign_up_subtitle' %></h5>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>


  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>
  
    <div><%= f.label :screen_name %><br />
  <%= f.text_field :screen_name %></div>
  
    <div><%= f.label :username %><br />
  <%= t "url.site" %>/<%= f.text_field :username %></div>

  <div class="control-group">
    <%= f.label :dob, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :dob, :class => 'date_select', :id => 'dob' %>
    </div>
  </div>

  <%= f.hidden_field :country_id, :value => Country.current_from_locale.id %>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>

